//@import "../../../styles/override";
@import "../../../styles/colors";

.LoginContainer{
  position: absolute;
  top: 0;
  left: 0;
  background: $darkGray;
  text-align: center;
  width: 100vw;
  height: 100vh;
}
.LoginContainerDiv{
  margin: 5%;
  color: $white;

  label{
    display: block;
    font-size: 25px;
    margin-bottom: 50px;
  }
  button{
    color: $white;
    background: $blue;
    width: 19.4em;
    font-size: 16px;
  }

  img {
    width: 33em;
  }
}
.LoginInput{
  color: $white;
  text-align: justify;
  justify-content: center;
  display: flex;
}
.LCError{
  font-size: 20px;
  font-weight: bold;
}
// -----Inputs override----------
.LoginContainer {
  //::ng-deep.mat-input-element {
  //  caret-color: $white;
  //  line-height: 0px;
  //}
  //
  ::ng-deep.mat-form-field {
    width: 24em;
  }

  ::ng-deep.mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }

  ::ng-deep.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
    //margin: .25em 0;
    background: transparent;
    border-radius: 5px;
  }

  ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
    color: $white;
  }

  ::ng-deep.mat-form-field-label {
    color: $white;
  }
  ::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5em 0 0.5em 0 ;
  }
  ::ng-deep.mat-input-element {
    font-size: 18px;
  }


}

