//@import "../../../styles/override";
@import "../../../styles/colors";

.LoginContainer{
  position: absolute;
  top: 0;
  left: 0;
  background: $darkGray;
  text-align: center;
  width: 100vw;
  height: 100vh;
}
.LoginContainerDiv{
  margin: 5%;
  color: $white;

  label{
    display: block;
    font-size: 25px;
    margin-bottom: 50px;
  }
  button{
    color: $white;
    background: $blue;
    width: 19.4em;
    font-size: 16px;
  }

  img {
    width: 33em;
  }
}
.LoginInput{
  color: $white;
  text-align: justify;
  justify-content: center;
  display: flex;
}
.LCError{
  font-size: 20px;
  font-weight: bold;
}
// -----Inputs override----------
.LoginContainer {

}

//::ng-deep.mat-input-element {
//  caret-color: $white;
//  line-height: 0px;
//}
//
::ng-deep.mat-form-field {
  width: 24em;
}

::ng-deep.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0 !important;
}

::ng-deep.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
  color: $white !important;
}

::ng-deep.mat-form-field-label {
  color: $white !important;
}

::ng-deep.mat-form-field {
  font-size: inherit;
  font-weight: 400;
  line-height: 1.125;
  letter-spacing: normal;
  background: transparent;
}

//::ng-deep.mat-form-field-hide-placeholder .mat-form-field-label-wrapper {
//  /* text-align: center; */
//  top: -23px;
//  line-height: 1.2;
//  padding: 12px 0;
//  text-align: left;
//}
//
::ng-deep.mat-input-element {
  font-size: 18px;
}
//::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
//  padding: 0 0 0.5em 0;
//}
//::ng-deep.mat-form-field label {
//  font-size: 16px;
//}
