@import "../../../../../styles/variable";

.canvasVideoContainer {
  display: flex;
  width: auto;
  height: 100%;


  & > * {
    position: absolute;
    height: calc(100vh - 70px);
  }

  #editingCanvas {
    z-index: 2;
    position: absolute;
  }

  .canvasDom {
    z-index: 12;
    display: block;
    position: absolute;
    height: calc(100vh - 70px) !important;
    width: auto !important;
  }

  .width-height-0 {
    height: 0;
    width: 0;
  }

}

.CanvasDomSmall{
  height: 30%;
  width: 30%;
  z-index: 5;
  border-radius: 15px;
  mat-icon{
    cursor: pointer;
  }
}
