/* You can add global styles to this file, and also import other style files */
@import 'styles/override';
@import 'styles/colors';
@import 'styles/variable';

.centerXY {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
