@import "../../../../../styles/dialogs";

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 5px 5px 10px 15px;

  ::ng-deep.mat-radio-label {
    align-items: start !important;
  }

  .example-radio-button {
    margin: 5px;
  }

  .LocationGrid{
    display: grid;
    grid-template-columns: 40% 40%;
  }
  .LocationAddress{
    width: 80%;
  }
}
