<div class="DialogContainer">
  <div class="DialogHeader" *ngIf="applicationService.selectedReport === undefined">Create new report</div>
  <div class="DialogHeader" *ngIf="applicationService.selectedReport !== undefined">Edit report</div>
  <!--Content-->
  <div class="DialogContent scroll">
    <!--&lt;!&ndash;Title&ndash;&gt;-->
    <!--<div class="DialogContentItem">-->
      <!--<div class="DialogTitle">Event Title</div>-->
      <!--<mat-form-field appearance="outline" class="SPMatFormField">-->
        <!--<label>-->
          <!--<input matInput class="Label" type="text"-->
                 <!--placeholder="For example: Fire in the city"-->
                 <!--[(ngModel)]="reportModel.title">-->
        <!--</label>-->
      <!--</mat-form-field>-->
    <!--</div>-->
    <!--Type-->
    <div class="DialogContentItem DialogGrid2">
      <div class="DialogTitle">Type</div>
      <mat-form-field appearance="outline" class="SPMatFormField">
        <mat-select [(ngModel)]="reportModel.type">
          <mat-option *ngFor="let type of types" [value]="type">
            {{type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!--Priority-->
    <div class="DialogContentItem DialogGrid2">
      <div class="DialogTitle">Priority</div>
      <mat-form-field appearance="outline" class="SPMatFormField">
        <mat-select [(ngModel)]="reportModel.priority">
          <mat-option *ngFor="let priority of priorities" [value]="priority">
            {{priority}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!--Description-->
    <div class="DialogContentItem">
      <div class="DialogTitle">Description</div>
      <mat-form-field appearance="outline" class="SPMatFormField">
        <label>
            <textarea matInput class="Label"
                      placeholder="Add your description..."
                      [ngStyle]="{'resize': 'none'}" rows="3"
                      [(ngModel)]="reportModel.description"></textarea>
        </label>
      </mat-form-field>
    </div>
    <!--Location-->
    <div class="DialogContentItem">
      <div class="DialogTitle">Location</div>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group">
        <!--[(ngModel)]="reportModel.location.button"-->
        <mat-radio-button class="example-radio-button" *ngFor="let location of locations"
                          [value]="location" (click)="onChangeLocation(location)">
          {{location}}
          <div *ngIf="location === 'Add an address' && reportModel.locationType === LOCATION_TYPE.address">
            <!--Address-->
            <mat-form-field appearance="outline" class="LocationAddress">
              <label>
                <input matInput class="Label" type="text"
                       placeholder="E.g. Richard St."
                       [(ngModel)]="reportModel.location.address">
              </label>
            </mat-form-field>
            <div class="LocationGrid">
              <!--Lat-->
              <mat-form-field appearance="outline" class="">
                <label>
                  <input matInput class="Label" type="text"
                         placeholder="Lat"
                         [(ngModel)]="reportModel.location.latitude">
                </label>
              </mat-form-field>
              <!--Long-->
              <mat-form-field appearance="outline" class="">
                <label>
                  <input matInput class="Label" type="text"
                         placeholder="Long"
                         [(ngModel)]="reportModel.location.longitude">
                </label>
              </mat-form-field>
            </div>
          </div>
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <!--Report media-->
    <div class="DialogContentItem">
      <div class="DialogTitle">Report media</div>
      <app-report-media
        [media]="reportModel.media"
        (onAddMedia)="onAddMedia($event)"
        (onDeleteMedia)="onDeleteMedia($event)">
      </app-report-media>
    </div>
    <!--Linked Reports-->
    <div class="DialogContentItem">
      <app-linked-events-table [element]="reportModel"
                               (updateLinkedEvents)="onUpdateLinkedEvents($event)">
      </app-linked-events-table>
    </div>
    <!--Comments-->
    <div class="DialogContentItem">
      <span class="DialogTitle">Comments</span>
      <div>
        <mat-list-item *ngFor="let comment of reportModel.comments">
          <div class="CommentsGrid" mat-line>
            <mat-icon class="CommentsGrid1" mat-list-icon>account_circle</mat-icon>
            <div class="CommentsGrid2"> {{comment.source}}</div>
            <div class="CommentsGrid3">{{comment.time | date}}</div>
            <div class="CommentsGrid4"> {{comment.text}}</div>
          </div>
        </mat-list-item>
      </div>
      <div class="DialogGrid3">
        <div class="DialogIconContainer">
          <mat-icon class="DialogIcon">account_circle</mat-icon>
        </div>
        <mat-form-field appearance="outline" class="SPMatFormField">
          <label>
            <input matInput class="Label" type="text"
                   placeholder="Add your comment..."
                   [(ngModel)]="comment">
          </label>
        </mat-form-field>
        <div class="DialogIconContainer pointer"
             (click)="onSendComment()">
          <mat-icon class="DialogIcon"
                    [ngStyle]="{'color': (comment === '' || comment === undefined) ? 'lightgray' : 'black' }">
            send</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <!--Footer-->
  <div class="FooterButtons">
    <div>
      <button mat-raised-button class="FooterButtonDelete"
              (click)="onDeleteClick()">Cancel
      </button>
      <button mat-raised-button class="FooterButtonCreate"
              (click)="onCreateClick()">Create New Report
      </button>
    </div>
  </div>
</div>


