<div class="HeaderLinked">
  <div mat-dialog-title class="HeaderContainer">
    <span class="HeaderContainerTitle">Add linked report</span>
    <span class="HeaderContainerX">
    <button  mat-icon-button (click)="onNoClick()">
      <mat-icon>close</mat-icon>
    </button>
  </span>
  </div>
  <div mat-dialog-content>
    <app-linked-report-container></app-linked-report-container>
  </div>
  <div mat-dialog-actions class="HeaderFooter">
    <button mat-button mat-dialog-close [disabled]="!this.isEnableAddBtn()" (click)="onAddClick()">Add</button>
  </div>
</div>
