<div class="DialogContainer Task">
  <!--Header-->
  <div class="DialogHeader" mat-dialog-title>
    <span class="DialogHeaderTitle">{{data.title}}</span>
    <span class="DialogHeaderX">
      <button  mat-icon-button (click)="onNoClick()">
      <mat-icon>close</mat-icon>
    </button>
  </span>
  </div>
  <!--Content-->
  <mat-dialog-content class="DialogContent">
<!--left part-->
    <div class="item1">
      <!--Title-->
      <div class="DialogContentItem">
        <div class="DialogTitle">Task Title
          <mat-error *ngIf="taskModel.title === '' || taskModel.title === undefined">*</mat-error>
        </div>
        <mat-form-field appearance="outline" class="SPMatFormField">
          <label>
            <input [(ngModel)]="taskModel.title" class="Label" matInput
                   placeholder="For example: Fire in the city"
                   #title
                   required
                   type="text">
          </label>
        </mat-form-field>
      </div>
      <!--Type & Priority-->
      <div class="DialogGrid2">
        <!--Type-->
        <div class="DialogContentItem ">
          <div class="DialogTitle">Type
            <mat-error *ngIf="taskModel.type === '' || taskModel.type === undefined">
              *
            </mat-error>
          </div>
          <mat-form-field appearance="outline" class="SPMatFormField">
            <mat-select [(ngModel)]="taskModel.type" [placeholder]="'Choose type'">
              <mat-option *ngFor="let type of types" [value]="type">
                {{type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!--Priority-->
        <div class="DialogContentItem ">
          <div class="DialogTitle">Priority</div>
          <mat-form-field appearance="outline" class="SPMatFormField">
            <mat-select [(ngModel)]="taskModel.priority">
              <mat-option *ngFor="let priority of priorities" [value]="priority">
                {{priority}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <!--Description-->
      <div class="DialogContentItem">
        <div class="DialogTitle">Description
          <mat-error *ngIf="taskModel.description === '' || taskModel.description === undefined">*</mat-error>
        </div>
        <mat-form-field appearance="outline" class="SPMatFormField">
          <label>
            <textarea [(ngModel)]="taskModel.description" [ngStyle]="{'resize': 'none'}"
                      class="Label"
                      matInput placeholder="Add your description..."
                      rows="3"></textarea>
          </label>
        </mat-form-field>
      </div>
      <!--Comments-->
      <div class="DialogContentItem DialogComments" *ngIf="screenWidth > 1200">
        <app-comments-panel (changeComments)="onChangeComments($event)"
                            [comments]="taskModel.comments"
                            ></app-comments-panel>
      </div>
    </div>
<!--right part-->
    <div class="item2">
      <!--Resources-->
      <div class="DialogContentItem">
        <div class="DialogTitle">Task Resources</div>
        <mat-form-field appearance="outline" class="SPMatFormField">
          <label>
            <textarea [(ngModel)]="taskModel.resources" [ngStyle]="{'resize': 'none'}"
                      class="Label"
                      matInput placeholder="Add resources..."
                      rows="2"></textarea>
          </label>
        </mat-form-field>
      </div>
      <!--Task Assignees-->
      <div class="DialogContentItem">
        <app-task-assignee-table [frs]="taskModel?.assignees"
                                 [title]="'Task assignees'"
                                 [ids]="taskModel?.assigneeIds"
                                 (updateAssignees)="onUpdateAssignees($event)"></app-task-assignee-table>
      </div>
      <!--Geographic Instructions-->
      <div class="DialogContentItem">
        <app-geo-instructions [element]="taskModel"></app-geo-instructions>
      </div>
      <!--Comments-->
      <div class="DialogContentItem DialogComments" *ngIf="screenWidth <= 1200">
        <app-comments-panel (changeComments)="onChangeComments($event)"
                            [comments]="taskModel.comments"
                            ></app-comments-panel>
      </div>
    </div>
  </mat-dialog-content>
  <!--Action-->
  <div class="DialogActions" mat-dialog-actions>
    <mat-error class="DialogMandatory"
               *ngIf="getDisabled()">
      *Mandatory fields
    </mat-error>
    <button (click)="onNoClick()" class="DialogActionsDelete"
            mat-raised-button>Cancel
    </button>
    <!--Create--><!--Edit-->
    <button (click)="onCreateClick()"
            class="DialogActionsCreate"
            [disabled]="getDisabled()"
            mat-raised-button>
      {{(screenWidth > 1200) ? data.title : 'Create'}}
    </button>
  </div>
</div>
