table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: grid;
  grid-template-columns: auto auto;
}

.example-element-description {
  padding: 16px;
}

.example-element-comments {
  padding: 16px;
}

.example-element-linked {
  padding: 16px;
}

.CommentsGrid{
  display: grid;
  grid-template-columns: auto auto auto;
}
.CommentsGrid1{
  grid-row: 1;
  grid-column: 1;
}
.CommentsGrid2{
  grid-row: 1;
  grid-column: 2;
}
.CommentsGrid3{
  grid-row: 1;
  grid-column: 3;
}
.CommentsGrid4{
  grid-row: 2;
  grid-column: 2/ 3;
}
.capitalize {
  text-transform: capitalize;
}
