<div *ngIf="contextMenuService?.isOpenLinkToMenu && contextMenuService?.selectedLinkTo"
     [style.left]="contextMenuService?.singleTooltip?.left"
     [style.top]="contextMenuService?.singleTooltip?.top"
     class="ContextSingleMenu">
  <!--Header-->
  <div class="ContextHeader" >
    <span class="ContextHeaderTitle">This {{contextMenuService?.type}} is linked to</span>
    <span class="ContextHeaderX" (click)="onNoClick()"> X
  </span>
  </div>
  <!--Content-->
  <mat-dialog-content >
    <mat-selection-list dense class="ContextContent scroll"
                        [(ngModel)]="selectedLinks">
      <mat-list-option *ngFor="let link of (contextMenuService?.selectedLinkTo?.reports || contextMenuService?.selectedLinkTo?.events)" [value]="link" checkboxPosition="before">
       {{link.idView}} {{link.type ? ' - ' + link.type : ''}}
      </mat-list-option>
    </mat-selection-list>
  </mat-dialog-content>
  <!--Action-->
  <div class="ContextActions pointer">
    <div (click)="onUnlinkClick()"
            class="ContextActionsCreate">Unlink
    </div>
  </div>
</div>

