@import "../../../../styles/dialogs";
@import "../../../../styles/disabled";


.TaskHeader{
  margin-top: 15px;
}
.DialogTask{
  float: right;
  border-bottom: 1px solid $black;
  font-size: $fontSizeText13;
  color: $black;
}
.mat-expansion-panel-header {
  padding: 0 10px;
  height: 30px;
}
.mat-menu-item {
  line-height: 25px;
  height: 25px;
}
.required{
  color: $red;
}
