<div class="LinkedReportsTable">
  <!--Title geoInstruction-->
  <div class="TaskHeader">
    <span class="DialogTitle">Geographic instructions</span>
    <div class="DialogTask pointer"
         [matMenuTriggerFor]="menu"
         #triggerBtn="matMenuTrigger"
         (click)="onClick()"
         [ngStyle]="{'color': (isSave) ? 'lightgray': '', 'borderBottom': (isSave) ? 'none' : ''}"
    >Add</div>
    <mat-menu #menu="matMenu">
      <button (click)="setSelectedInstruction(item)" *ngFor="let item of geoInstructions" mat-menu-item>
        {{ item }}
      </button>
    </mat-menu>
  </div>

  <!--List All geoInstructions-->
  <div class="">
    <app-geo-instructions-list
      [geographicInstructionsModel]="geographicInstructionsModel"
      [isNotViewOnly]="true">
    </app-geo-instructions-list>
  </div>

  <!--add New GeoInstruction-->
  <div class="">
    <!--Arrow-->
    <div *ngIf="selectedGeoInstruction === GEOGRAPHIC_INSTRUCTION_TYPE.arrow">
      <div class="DialogTitle">
        Arrow
      </div>
    </div>
    <!--Address-->
    <div *ngIf="selectedGeoInstruction === GEOGRAPHIC_INSTRUCTION_TYPE.address">
      <div class="DialogTitle">
        Address
      </div>
      <!--<div>-->
        <!--<mat-form-field appearance="outline" class="LocationAddress">-->
          <!--<label>-->
            <!--<input [(ngModel)]="geoInstructionModel.address" class="Label" matInput-->
                   <!--placeholder="E.g. Richard St."-->
                   <!--type="text">-->
          <!--</label>-->
        <!--</mat-form-field>-->
      <!--</div>-->
      <!--Address-->
      <div>
        <app-autocomplete-address (setAddress)="getAddress($event)" addressType="geocode" [address]="geoInstructionModel.address"></app-autocomplete-address>
      </div>
    </div>
    <!--Point-->
    <div *ngIf="selectedGeoInstruction === GEOGRAPHIC_INSTRUCTION_TYPE.point">
      <div class="DialogTitle">
        Point
      </div>
      <!--Location-->
      <div>
        <small>Choose location point from the map or write
          Lat/Long
        </small>
        <div class="DialogGrid22">
          <!--Lat-->
          <mat-form-field appearance="outline" class="">
            <label>
              <input (change)="locationChanged($event, 'latitude')"
                     (click)="$event.stopPropagation()" (keyup)="locationChanged($event, 'latitude')"
                     [(ngModel)]="geoInstructionModel.location.latitude"
                     class="Label"
                     matInput
                     min="0"
                     placeholder="Lat"
                     type="number">
            </label>
          </mat-form-field>
          <!--Long-->
          <mat-form-field appearance="outline" class="">
            <label>
              <input (change)="locationChanged($event, 'longitude')"
                     (click)="$event.stopPropagation()"
                     (keyup)="locationChanged($event, 'longitude')"
                     [(ngModel)]="geoInstructionModel.location.longitude"
                     class="Label"
                     matInput
                     min="0"
                     placeholder="Long"
                     type="number">
            </label>
          </mat-form-field>
        </div>
      </div>
    </div>
    <!--Polygon-->
    <div *ngIf="selectedGeoInstruction === GEOGRAPHIC_INSTRUCTION_TYPE.polygon">
      <div  class="DialogTitle">
        Polygon
      </div>
    </div>
    <!--Polyline-->
    <div *ngIf="selectedGeoInstruction === GEOGRAPHIC_INSTRUCTION_TYPE.polyline">
      <div class="DialogTitle">
        Polyline
      </div>
    </div>
    <!--Description-->
    <div *ngIf="selectedGeoInstruction !== undefined" class="DialogContentItem">
      <div [ngClass]="{required: geoInstructionModel.description === ''}" class="DialogTitle">Description</div>
      <mat-form-field appearance="outline" class="SPMatFormField">
        <label>
            <textarea [(ngModel)]="geoInstructionModel.description"
                      [ngStyle]="{'resize': 'none'}" class="Label"
                      matInput
                      placeholder="Add your description..." required
                      rows="2">

            </textarea>
        </label>
      </mat-form-field>
      <mat-error *ngIf="geoInstructionModel.description === ''">Description field is mandatory</mat-error>
    </div>
    <!--Action Buttons-->
    <div *ngIf="selectedGeoInstruction !== undefined" class="DialogCenter">
      <button (click)="cancelInstruction(selectedGeoInstruction)"
               class="DialogActionsSave">
        Cancel
      </button>
      <button (click)="saveInstruction(selectedGeoInstruction)"
              [disabled]="geoInstructionModel.description === ''"
              [ngClass]="{'disabled': geoInstructionModel.description === ''}"
              class="DialogActionsSave">
        Save
      </button>
    </div>
  </div>
</div>

