@import "../../../../styles/dialogs";
@import "../../../../styles/disabled";

.GeoInstructContainer{
  max-height: 25vh;
}
.TaskHeader{
  margin-top: 15px;
}
.DialogLink{
  float: right;
  border-bottom: 1px solid $black;
  color: $black;
}
.mat-expansion-panel-header {
  padding: 0 10px;
  height: 30px;
}
.mat-menu-item {
  line-height: 25px;
  height: 25px;
}
.required{
  color: $red;
}
