@import "../../../styles/colors";
@import "../../../styles/variable";
@import "../../../styles/override";
@import "../../../styles/resizes";

.HeaderPanel{
  background: $black;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: $headerHeight;
  //font-size: $fontSizeTitleHeader17;
}
.LiveVideoPanel{
  position: absolute;
  top: $headerHeight;
  left: 0px;
  width: 100vw;
  height: calc(100vh - #{$headerHeight});
  z-index: 2;
}
.expendVideo{
  position: absolute;
  bottom: 10px;
  z-index: 10;
  right: 10px;
  width: 50px;
  height: auto;
  font-size: 50px;
  color: $white;
}

.MapContent{
  position: absolute;
  top: $headerHeight;
  right: 0px;
  height: calc(100vh - #{$headerHeight});
  width: calc(100vw - #{$sidePanelWidth50});
  z-index: 1;
}
.MapAll{
  width: 100vw;
  position: absolute;
  top: $headerHeight;
  right: 0px;
  height: calc(100vh - #{$headerHeight});
  z-index: 1;
}
.MapRegular{
  width: calc(100vw - #{$sidePanelWidth50});
  position: absolute;
  top: $headerHeight;
  right: 0px;
  height: calc(100vh - #{$headerHeight});
  z-index: 1;
}
.MapWide{
  width: calc(100vw - #{$leftPanelNarrowWidth});
  position: absolute;
  top: $headerHeight;
  right: 0px;
  height: calc(100vh - #{$headerHeight});
  z-index: 1;
}
.MapSmall{
  position: absolute;
  bottom: 20px;
  left: 10px;
  height: 32%;
  width: 28%;
  z-index: 5;
  background: $lightBlue;
  border-radius: 15px;
  overflow: hidden;
  mat-icon{
    cursor: pointer;
  }
}

.LeftPanel{
  //width: $leftPanelWidth !important;
  height: calc(100vh - #{$headerHeight}) !important; //  calc(100vh - var(--headerHeight));
  overflow: hidden !important;
  top: $headerHeight;
  color: $black;
  z-index: 2;
}
:host-context .mat-drawer-container {
  position: inherit;
}

.LeftNarrowPanel{
  //width: $leftPanelNarrowWidth;
  height: calc(100vh - #{$headerHeight}) !important; //  calc(100vh - var(--headerHeight));
  overflow: hidden !important;
  top: $headerHeight;
  color: $black;
  z-index: 2;
}
.cesium-one{
  //display: flex;
  //flex: 1;
  //position: relative;
  overflow: hidden;
}

.RightPanel {
  position: absolute;
  right: 0;
  top: $headerHeight;
  //width: calc(15vw);
  color: $darkGray;
  z-index: 2;
  background: $white;
  overflow: hidden !important;
}


