<div class="GeneralViewContainer">
  <!--HeaderPanel-->
  <app-header-panel class="HeaderPanel"></app-header-panel>

  <!--LiveVideoPanel-->
  <app-video-panel *ngIf="applicationService?.screen?.showVideo"
                   [ngClass]="{'MapSmall': !applicationService.screen.showLeftPanel && applicationService?.screen?.showVideo
                   && applicationService?.selectedWindow === VIDEO_OR_MAP.video,
                   'LiveVideoPanel': !applicationService.screen.showLeftPanel && applicationService?.screen?.showVideo
                   && applicationService?.selectedWindow === VIDEO_OR_MAP.map}"
                   class="LiveVideoPanel">

  </app-video-panel>

  <!--Map Cesium-->
  <div>
    <app-map></app-map>
    <div [ngClass]="{'MapRegular':applicationService.panelIcon === LEFT_PANEL_ICON.expand && applicationService.screen.showLeftPanel,
                     'MapWide': applicationService.panelIcon === LEFT_PANEL_ICON.minimize && applicationService.screen.showLeftPanel,
                     'MapAll': !applicationService.screen.showLeftPanel && applicationService?.screen?.showVideo
                     && applicationService?.selectedWindow === VIDEO_OR_MAP.video,
                     'MapSmall': !applicationService.screen.showLeftPanel && applicationService?.screen?.showVideo
                     && applicationService?.selectedWindow === VIDEO_OR_MAP.map}"
         id="{{cesiumService?.maps[0]?.containerId}}">
      <mat-icon *ngIf="applicationService?.screen?.showVideo" class="expendVideo" (click)="onExpendVideo()">zoom_out_map</mat-icon>
    </div>

    <!--<div class="cesium-two"-->
    <!--id="{{mapAvService?.maps[1]?.containerId}}">-->
    <!--</div>-->
  </div>

  <!--Right Panel-->
  <app-right-panel class="RightPanel"></app-right-panel>

  <!--Left Panel-->
  <!--[disableClose]="true"-->
  <mat-sidenav-container>
    <mat-sidenav #LeftPanel [(opened)]="applicationService.screen.showLeftPanel"
                 [ngClass]="(applicationService.panelIcon === LEFT_PANEL_ICON.expand)? 'LeftPanel' : 'LeftNarrowPanel'"
                 class="LeftPanel"
                 mode="side">
      <app-left-panel></app-left-panel>
    </mat-sidenav>
  </mat-sidenav-container>

  <!--View Media-->
  <app-view-media></app-view-media>

  <!--Linked-to-window-->
  <app-linked-to-window></app-linked-to-window>

</div>
