<div class="GeneralViewContainer">
  <!--HeaderPanel-->
  <app-header-panel class="HeaderPanel"></app-header-panel>


  <!--Map Cesium-->
  <div>
    <app-map></app-map>
    <div [ngClass]="{'MapRegular':applicationService.panelIcon === LEFT_PANEL_ICON.expand,
    'MapWide': applicationService.panelIcon === LEFT_PANEL_ICON.minimize}" class="MapContent"
         id="{{cesiumService?.maps[0]?.containerId}}">
    </div>
    <!--<div class="cesium-two"-->
    <!--id="{{mapAvService?.maps[1]?.containerId}}">-->
    <!--</div>-->
  </div>


  <!--Right Panel-->
  <mat-sidenav-container>
    <mat-sidenav #RightPanel [(opened)]="applicationService.screen.showRightPanel"
                 class="RightPanel"
                 [position]="'end'"
                 mode="side">
      <app-resources-panel></app-resources-panel>
    </mat-sidenav>
  </mat-sidenav-container>

  <!--Left Panel-->
  <!--[disableClose]="true"-->
  <mat-sidenav-container>
    <mat-sidenav #LeftPanel [(opened)]="applicationService.screen.showLeftPanel"
                 [ngClass]="(applicationService.panelIcon === LEFT_PANEL_ICON.expand)? 'LeftPanel' : 'LeftNarrowPanel'"
                 class="LeftPanel"
                 mode="side">
      <app-left-panel></app-left-panel>
    </mat-sidenav>
  </mat-sidenav-container>

  <!--View Media-->
  <app-view-media></app-view-media>


  <!--Linked-to-window-->
  <app-linked-to-window></app-linked-to-window>

</div>
