@import "../../../styles/colors";
@import "../../../styles/variable";
@import "../../../styles/override";

.HeaderPanel{
  background: $black;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: $headerHeight;
  font-size: $fontSizeTitleHeader17;
}
.LiveVideoPanel{
  position: absolute;
  top: $headerHeight;
  left: 0px;
  width: 100vw;
  height: calc(100vh - #{$headerHeight});
  z-index: 2;
}
.expendVideo{
  position: absolute;
  bottom: 10px;
  z-index: 10;
  right: 10px;
  width: 50px;
  height: auto;
  font-size: 50px;
  color: $white;
}

.MapContent{
  position: absolute;
  top: $headerHeight;
  right: 0px;
  height: calc(100vh - #{$headerHeight});
  width: calc(100vw - #{$leftPanelWidth});
  z-index: 1;
}
.MapAll{
  width: 100vw;
  position: absolute;
  top: $headerHeight;
  right: 0px;
  height: calc(100vh - #{$headerHeight});
  z-index: 1;
}
.MapRegular{
  width: calc(100vw - #{$leftPanelWidth});
  position: absolute;
  top: $headerHeight;
  right: 0px;
  height: calc(100vh - #{$headerHeight});
  z-index: 1;
}
.MapWide{
  width: calc(100vw - #{$leftPanelNarrowWidth});
  position: absolute;
  top: $headerHeight;
  right: 0px;
  height: calc(100vh - #{$headerHeight});
  z-index: 1;
}
.MapSmall{
  position: absolute;
  bottom: 20px;
  left: 10px;
  height: 32%;
  width: 28%;
  z-index: 5;
  background: $lightBlue;
  border-radius: 15px;
  overflow: hidden;
  mat-icon{
    cursor: pointer;
  }
}

.LeftPanel{
  width: $leftPanelWidth !important;
  height: calc(100vh - #{$headerHeight}) !important; //  calc(100vh - var(--headerHeight));
  overflow: hidden !important;
  top: $headerHeight;
  color: $black;
  z-index: 2;
}
:host-context .mat-drawer-container {
  position: inherit;
}
.LeftNarrowPanel{
  width: $leftPanelNarrowWidth;
  height: calc(100vh - #{$headerHeight}) !important; //  calc(100vh - var(--headerHeight));
  overflow: hidden !important;
  top: $headerHeight;
  color: $black;
  z-index: 2;
}
.cesium-one{
  //display: flex;
  //flex: 1;
  //position: relative;
  overflow: hidden;
}

.RightPanel {
  position: absolute;
  right: 0;
  top: $headerHeight;
  //width: calc(15vw);
  color: $darkGray;
  z-index: 2;
  background: $white;
  overflow: hidden !important;
}


// Right panel media screen ======================================================================================
@media screen and (max-width: 1230px) {
  /* CSS that should be displayed if width is equal to or less than 1280px goes here */
  .RightPanel {
    width: 23.5vw;
  }
  .HeaderPanel{
    font-size: $fontSizeTitle15;
  }
}
@media screen and (max-width: 1280px) and (min-width: 1231px){
  /* CSS that should be displayed if width is equal to or less than 1280px goes here */
  .RightPanel{
    width: 23vw;
  }
  .HeaderPanel{
    font-size: $fontSizeTitle15;
  }
}

@media screen and (max-width: 1320px) and (min-width: 1281px) {
  .RightPanel {
    width: 22.5vw;
  }
  .HeaderPanel{
    font-size: $fontSizeTitleHeader16;
  }
}
@media screen and (max-width: 1340px) and (min-width: 1321px) {
  .RightPanel {
    width: 22vw;
  }
}

@media screen and (max-width: 1380px) and (min-width: 1341px) {
  .RightPanel {
    width: 21.5vw;
  }
}
@media screen and (max-width: 1400px) and (min-width: 1381px) {
  .RightPanel {
    width: 21vw;
  }
}
@media screen and (max-width: 1440px) and (min-width: 1401px) {
  .RightPanel {
    width: 20.5vw;
  }
}
@media screen and (max-width: 1470px) and (min-width: 1441px) {
  .RightPanel {
    width: 20vw;
  }
}
@media screen and (max-width: 1520px) and (min-width: 1471px) {
  .RightPanel {
    width: 19.5vw;
  }
}
@media screen and (max-width: 1550px) and (min-width: 1521px) {
  .RightPanel {
    width: 19vw;
  }
}
@media screen and (max-width: 1580px) and (min-width: 1551px) {
  .RightPanel {
    width: 18.5vw;
  }
}
@media screen and (max-width: 1620px) and (min-width: 1581px) {
  .RightPanel {
    width: 18vw;
  }
}
@media screen and (max-width: 1680px) and (min-width: 1621px) {
  .RightPanel {
    width: 17.5vw;
  }
}
@media screen and (max-width: 1720px) and (min-width: 1681px) {
  .RightPanel {
    width: 17vw;
  }
}
@media screen and (max-width: 1770px) and (min-width: 1721px) {
  .RightPanel {
    width: 16.5vw;
  }
}
@media screen and (min-width: 1771px) {
  .RightPanel {
    width: 16vw;
  }
}
