@import "../../../styles/colors";
@import "../../../styles/variable";

.HeaderPanel{
  background: $black;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: $headerHeight;
}
.MapContent{
  position: absolute;
  top: $headerHeight;
  right: 0px;
  height: calc(100vh - #{$headerHeight});
  width: 50vw;
  z-index: 1;
}
.LeftPanel{
  width: $leftPanelWidth;
  height: calc(100vh - #{$headerHeight}) !important; //  calc(100vh - var(--headerHeight));
  overflow: hidden !important;
  top: $headerHeight;
  color: $black;
  z-index: 2;
}
:host-context .mat-drawer-container {
  position: inherit;
}
.LeftNarrowPanel{
  width: $leftPanelNarrowWidth;
  height: calc(100vh - #{$headerHeight}) !important; //  calc(100vh - var(--headerHeight));
  overflow: hidden !important;
  top: $headerHeight;
  color: $black;
  z-index: 2;
}
.cesium-one{
  //display: flex;
  //flex: 1;
  //position: relative;
  overflow: hidden;
}
