<div>
  <!--Header-->
  <div *ngIf="applicationService?.selectedWindow === VIDEO_OR_MAP.map"
       class="LiveVideoHeader">
    <!--Drone-->
    <div class="drone-container container">
      <div>UAV name:
        <span>{{applicationService?.selectedAirVehicle?.name}}</span>&nbsp;
        <!--<span>{{applicationService.selectedAirVehicle.id}}</span>-->
      </div>
      <div>Altitude: <span>{{applicationService?.selectedAirVehicle?.altitudeAGL}}m</span></div>
      <div>Day<mat-slide-toggle (change)="changeSlide($event)"></mat-slide-toggle>Night</div>
      <div class="videoSelect" *ngIf="dayNight">
        <mat-form-field appearance="outline" class="SPMatFormField">
          <!--<mat-label>Choose color palette</mat-label>-->
        <mat-select placeholder="Choose color palette">
          <mat-option *ngFor="let color of colorPalette" [value]="color">
            {{color}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      </div>
    </div>
    <!--Camera-->
    <div class="camera-container container">
      <div class="itemCameraDiv">Camera Control:
        <div class="CameraText"><span>Test Me</span><mat-icon>lock</mat-icon></div>
      </div>
      <button mat-raised-button>Release Control</button>
      <button mat-raised-button>Un-Lock Control</button>
    </div>
    <!--Zoom-->
    <div class="zoom-container container">
      <div>Camera zoom: <span>x{{zoomModel}}</span></div>
      <div class="zoom-slider">
        <span>0</span>
        <mat-slider
          thumbLabel
          [displayWith]="formatLabel"
          [tickInterval]="tickIntervalZoom"
          [step]="stepZoom"
          [min]="minZoom"
          [max]="maxZoom"
          [(ngModel)]="zoomModel"
        >
        </mat-slider>
        <span>10x</span>
      </div>
    </div>
    <!--Speed-->
    <div class="speed-container container">
      <div>Camera rate: <span>{{speedModel}}°</span></div>
      <div>
        <img src="../../../../assets/slow.png" class="speedSlowImg" alt="slow">
        <mat-slider
          thumbLabel
          [tickInterval]="tickIntervalSpeed"
          [min]="minSpeed"
          [max]="maxSpeed"
          [(ngModel)]="speedModel"

        >
        </mat-slider>
        <img src="../../../../assets/fast.png" class="speedFastImg" alt="fast">
      </div>
    </div>
  </div>
  <!--Arrows-->
  <div class="LiveVideoContent">
    <mat-icon class="arrows left" (click)="onClickLeft()"> keyboard_arrow_left </mat-icon>
    <mat-icon class="arrows right" (click)="onClickRight()"> keyboard_arrow_right </mat-icon>
    <mat-icon class="arrows upLow" (click)="onClickUp()" *ngIf="applicationService?.selectedWindow === VIDEO_OR_MAP.map"> keyboard_arrow_up </mat-icon>
    <mat-icon class="arrows up" (click)="onClickUp()" *ngIf="applicationService?.selectedWindow === VIDEO_OR_MAP.video"> keyboard_arrow_up </mat-icon>
    <mat-icon class="arrows down" (click)="onClickDown()"> keyboard_arrow_down </mat-icon>
    <mat-icon *ngIf="applicationService?.selectedWindow === VIDEO_OR_MAP.video"
              class="expendVideo"
              (click)="onExpendVideo()">zoom_out_map</mat-icon>
  </div>
</div>
