@import '../../../../styles/colors';
@import '../../../../styles/variable';
@import '../../../../styles/override';

.LiveVideoHeader {
  display: flex;
  height: $headerVideoHeightRegular;
  background-color: $darkGrayOpacity;
  position: absolute;
  width: 100vw;
  z-index: 998;

  .Title {
    //padding: 0 10px;
    margin: auto 0;
    font-size: $fontSizeVideoText16;
    font-weight: 600;
    text-align: center;
  }

  .Value {
    font-size: $fontSizeVideoText16;
    font-weight: 100;
  }

  .drone-container {
    display: grid;
    grid-template-columns: auto;
    //grid-template-rows: calc(#{$headerVideoHeightRegular} / 2 - 10px) calc(#{$headerVideoHeightRegular} / 2 - 10px);
    border-right: 1px solid $lightGray;
    text-align: center;

    .UAVParams {
      text-align: left;
    }

    //div {
    //  padding: 0 10px 0 0;
    //  margin: auto 0;
    //  font-size: $fontSizeVideoText16;
    //  font-weight: 600;
    //}
    //
    //span {
    //  font-size: $fontSizeVideoText16;
    //  font-weight: 100;
    //}

    mat-slide-toggle {
      padding: 0 10px;
    }

    .videoSelect {
      margin-left: 10px;
      padding-right: 0;
      display: inline-flex;


      div {
        font-size: $fontSizeText13 !important;
      }
    }

    ::ng-deep .mat-form-field {
      display: inline-block !important;
      color: $white !important;
      width: 8em;
    }

    ::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 0em 0 0.5em 0 !important;
    }

    ::ng-deep.mat-form-field-appearance-outline .mat-form-field-wrapper {
      margin: -1em 0 !important;
    }

    ::ng-deep.mat-form-field-wrapper {
      padding-bottom: 0em !important;
    }

    ::ng-deep.mat-select-value {
      color: $white !important;
    }

    ::ng-deep.mat-form-field-appearance-outline .mat-select-arrow-wrapper {
      transform: translateY(0%) !important;
    }

    ::ng-deep.mat-select-placeholder {
      font-size: $fontSizeText13;
    }

  }

  .camera-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: calc(#{$headerVideoHeightRegular} / 2 - 10px) calc(#{$headerVideoHeightRegular} / 2 - 10px);
    border-right: 1px solid $lightGray;
    white-space: nowrap;
    width: 240px;

    .itemCameraDiv {
      grid-column: 1;
      grid-row: 1;
    }

    div {
      margin: auto 0;
      font-size: $fontSizeVideoText16;
      font-weight: 600;
    }

    //span {
    //  font-size: $fontSizeVideoText16;
    //  font-weight: 100;
    //}

    button {
      margin: 1px 10px 0px 0;
      background: $lightGray;
      padding: 0px 7px;
    }

    mat-icon {
      margin: 0px 5px 0px 0px;
      height: 20px;
      width: 20px;
      font-size: 20px;
    }

    .CameraText {
      display: inline-flex;
    }
  }

  .zoom-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: calc(#{$headerVideoHeightRegular} / 2 - 10px) calc(#{$headerVideoHeightRegular} / 2 - 10px);

    .zoom-slider {
      display: grid;
      grid-template-columns: 1.5em auto 1.5em;

      span {
        margin: auto 0;
      }
    }

    //div {
    //  //padding: 0 10px;
    //  margin: auto 0;
    //  font-size: $fontSizeVideoText16;
    //  font-weight: 600;
    //  text-align: center;
    //}
    //
    //span {
    //  font-size: $fontSizeVideoText16;
    //  font-weight: 100;
    //}
  }

  .settings-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: calc(#{$headerVideoHeightRegular} / 2 - 10px) calc(#{$headerVideoHeightRegular} / 2 - 10px);
    border-right: 1px solid $lightGray;
    white-space: nowrap;

    .itemCameraDiv {
      grid-column: 1;
      grid-row: 1;
    }

    .itemCameraButton {
      grid-column: 2;
      grid-row: 1;
      margin: auto;
    }
  }

  //.telemetry-container {
  //  display: grid;
  //  grid-template-columns: auto;
  //  grid-template-rows: calc(#{$headerVideoHeightRegular} / 2 - 10px) calc(#{$headerVideoHeightRegular} / 2 - 10px);
  //  border-right: 1px solid $lightGray;
  //
  //  //div {
  //  //  padding: 0 10px;
  //  //  margin: auto 0;
  //  //  font-size: $fontSizeVideoText16;
  //  //  font-weight: 600;
  //  //}
  //}

  .speed-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: calc(#{$headerVideoHeightRegular} / 2 - 10px) calc(#{$headerVideoHeightRegular} / 2 - 10px);
    border-right: 1px solid $lightGray;
    white-space: nowrap;

    //div {
    //  //padding: 0 10px;
    //  margin: auto 0;
    //  font-size: $fontSizeVideoText16;
    //  font-weight: 600;
    //  text-align: center;
    //}
    //
    //span {
    //  font-size: $fontSizeVideoText16;
    //  font-weight: 100;
    //}

    .speedSlowImg {
      width: 24px;
      height: auto;
    }

    .speedFastImg {
      width: 18px;
      height: auto;
    }
  }

  .container {
    color: $white;
    margin: 10px 0;
    font-size: 13px;
    z-index: 1000;
    padding: 0 10px;
  }

  .mat-slider-horizontal {
    height: 28px;
    min-width: 140px;
  }

  ::ng-deep.mat-slider-horizontal .mat-slider-wrapper {

    top: 13px !important;

  }
}

.LiveVideoHeaderMiddle {

  display: flex;
  flex-direction: row;
  height: $headerVideoHeightMiddle;
  background-color: $darkGrayOpacity;
  position: absolute;
  width: 100vw;
  z-index: 998;
  color: $white;

  .header-title {
    font-weight: bold;
  }

  .drone-container {
    border-right: 1px solid $lightGray;
    line-height: 40px;

    ::ng-deep .mat-form-field {
      display: inline-block !important;
      color: $white !important;
      width: 8em;
    }

    ::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 0em 0 0.5em 0 !important;
    }

    ::ng-deep.mat-form-field-appearance-outline .mat-form-field-wrapper {
      margin: -1em 0 !important;
    }

    ::ng-deep.mat-form-field-wrapper {
      padding-bottom: 0em !important;
    }

    ::ng-deep.mat-select-value {
      color: $white !important;
    }

    ::ng-deep.mat-form-field-appearance-outline .mat-select-arrow-wrapper {
      transform: translateY(0%) !important;
    }

    ::ng-deep.mat-select-placeholder {
      font-size: $fontSizeText13;
    }
  }

  .uav-params-container {
    border-right: 1px solid $lightGray;
    line-height: 40px;
  }

  .camera-container {
    border-right: 1px solid $lightGray;
    line-height: 40px;

    div {
      display: inline-block;
    }

    mat-icon {
      margin: 0 0 5px;
      height: 16px;
      width: 16px;
      font-size: 16px;
    }

    .CameraText {
      display: inline-flex;
    }
  }

  .container {
    color: $white;
    margin: auto 0;
    font-size: $fontSizeText13;
    z-index: 1000;
    padding: 0 5px;
  }


}

::ng-deep.mat-menu-panel.settings-menu {

  font-size: $fontSizeText11;
  padding: 0 2px;
  text-align: center;
  background-color: $Disabled;
  color: $white;

  .header-title {
    font-weight: bold;
  }

  .speed-container {
    .speed-slider-container {
      display: inline-flex;

      .speedSlowImg {
        width: 15px;
        height: auto;
        font-size: 15px;
        margin: auto;
      }

      .speedFastImg {
        width: 14px;
        height: auto;
        font-size: 14px;
        margin: auto;
      }
    }
  }

  .zoom-container {
    padding: 5px 0 0 0;

    .zoom-slider {
      display: inline-flex;

      div {
        margin: auto;
      }

      .zoom-slider-div {
        margin-right: 3px;
        margin-left: 5px;
      }
    }
  }

  .mat-slider-horizontal {
    //height: 40px;
    min-width: 80px;
  }

  .camera-container {
    .camera-mode {
      display: inline-flex;
      margin: 5px 5px 15px;

      div {
        margin: auto;
      }

      .camera-mode-div {
        margin: auto 5px auto 5px;
      }
    }

    .videoSelect {
      margin: 0 0 10px 0;
    }
  }

  .telemetry-container {
    display: inline-flex;
    margin: 15px 0 0;

    div {
      margin: auto;
    }
  }

  .container {
    border-bottom: 1px solid $white;
    padding: 5px 0;
  }

  ::ng-deep .mat-form-field {
    display: inline-block !important;
    color: $white !important;
    width: 90%;
  }

  ::ng-deep.mat-form-field-infix {
    width: 80px;
  }

  ::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0em 0 0.5em 0 !important;
  }

  ::ng-deep.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: -1em 0 !important;
  }

  ::ng-deep.mat-form-field-wrapper {
    padding-bottom: 0em !important;
  }

  ::ng-deep.mat-select-value {
    color: $white !important;
  }

  ::ng-deep.mat-select-disabled .mat-select-value {
    color: rgba($black, 0.4) !important;
    cursor: no-drop;
  }

  ::ng-deep.mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    transform: translateY(0%) !important;
  }

  ::ng-deep.mat-select-placeholder {
    font-size: $fontSizeText11;
  }

}

::ng-deep.mat-menu-panel.camera-settings-menu {

  //font-size: $fontSizeText11;
  padding: 0 2px;
  text-align: center;
  background-color: $Disabled;
  color: $white;

  .header-title {
    font-weight: bold;
  }

  .mat-slider-horizontal {
    //height: 40px;
    min-width: 150px;
  }

  .camera-container {
    .camera-mode {
      display: inline-flex;
      margin: 5px 5px 15px;

      div {
        margin: auto;
      }

      .camera-mode-div {
        margin: auto 5px auto 5px;
      }
    }

    .videoSelect {
      margin: 0 0 10px 0;
    }
  }

  .telemetry-container {
    display: inline-flex;
    margin: 15px 0 0;

    div {
      margin: auto;
    }
  }

  .container {
    border-bottom: 1px solid $white;
    padding: 5px 0;
  }

  ::ng-deep .mat-form-field {
    display: inline-block !important;
    color: $white !important;
    width: 90%;
  }

  ::ng-deep.mat-form-field-infix {
    width: 140px;
  }

  ::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0em 0 0.5em 0 !important;
  }

  ::ng-deep.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: -1em 0 !important;
  }

  ::ng-deep.mat-form-field-wrapper {
    padding-bottom: 0em !important;
  }

  ::ng-deep.mat-select-value {
    color: $white !important;
  }

  ::ng-deep.mat-select-disabled .mat-select-value {
    color: rgba($black, 0.4) !important;
    cursor: no-drop;
  }

  ::ng-deep.mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    transform: translateY(0%) !important;
  }

  //::ng-deep.mat-select-placeholder {
  //  font-size: $fontSizeText15;
  //}

}


/* Border */
::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}

/* Font color */
input.mat-input-element {
  color: white;
}

// Arrows
.LiveVideoContent {
  .expendVideo {
    position: absolute;
    bottom: 10px;
    z-index: 50;
    right: 10px;
    width: 50px;
    height: auto;
    font-size: 50px;
    color: $darkGray;
  }

  .expendVideo:hover {
    color: $black;
    cursor: pointer;
  }

  .arrows {
    position: absolute;
    font-size: 50px;
    height: 50px;
    width: 50px;
    color: $white;
    z-index: 1000;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 25px;
  }

  .left {
    top: calc(100vh - 90px - 47.2%);
    left: 10px;
  }

  .right {
    top: calc(100vh - 90px - 47.2%);
    right: 10px;
  }

  .upLow {
    top: calc(#{$headerVideoHeightRegular} + 10px);
    left: calc(100vw - 52.9%);
  }

  .up {
    top: 10px;
    left: calc(100vw - 52.9%);
  }

  .down {
    bottom: 10px;
    left: calc(100vw - 52.9%);
  }

}

.mat-raised-button {
  line-height: 30px;
}

.mat-slider {
  padding: 0px;
  vertical-align: bottom;
}

.controlRequestContainer {
  position: absolute;
  width: 300px;
  height: 90px;
  top: 100px;
  left: 20%;
  background-color: $darkGrayOpacity;
  text-align: center;
  color: $white;
  font-size: $fontSizeTitle14;
  border-radius: 10px;
  z-index: 1000;

  button {
    margin: 5px;
    color: $white;
  }

  div {
    margin: 7px;
  }

  .ConfirmButtonDecline {
    background-color: $red;
  }

  .ConfirmButtonAccept {
    background-color: $green;
  }
}

