@import '../../../../styles/colors';
@import '../../../../styles/variable';
@import '../../../../styles/override';

.LiveVideoHeader {
  display: flex;
  height: $headerVideoHeight;
  background-color: $darkGrayOpacity;
  position: absolute;
  width: 100vw;
  z-index: 1000;
}

.LiveVideoContent {

}

.container {
  color: $white;
  margin: 10px;
  font-size: $fontSizeText13;
  z-index: 1000;
}

.drone-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: calc(#{$headerVideoHeight} / 2 - 10px) calc(#{$headerVideoHeight} / 2 - 10px);
  border-right: 1px solid $lightGray;

  div {
    padding: 0 10px;
    margin: auto 0;
    font-size: $fontSizeVideoText16;
    font-weight: 600;
  }

  span {
    font-size: $fontSizeVideoText16;
    font-weight: 100;
  }

  mat-slide-toggle {
    padding: 0 10px;
  }

  .videoSelect {
    div {
      font-size: $fontSizeText13 !important;
    }
  }

  ::ng-deep .mat-form-field {
    display: block !important;
    color: $white !important;
  }

  ::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0em 0 0.5em 0 !important;
  }

  ::ng-deep.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: -1em 0 !important;
  }

  ::ng-deep.mat-form-field-wrapper {
    padding-bottom: 0em !important;
  }

  ::ng-deep.mat-select-value {
    color: $white !important;
  }

  ::ng-deep.mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    transform: translateY(0%) !important;
  }

}

.camera-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: calc(#{$headerVideoHeight} / 2 - 10px) calc(#{$headerVideoHeight} / 2 - 10px);
  border-right: 1px solid $lightGray;

  .itemCameraDiv {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  div {
    padding: 0 10px;
    margin: auto 0;
    font-size: $fontSizeVideoText16;
    font-weight: 600;
  }

  span {
    font-size: $fontSizeVideoText16;
    font-weight: 100;
  }

  button {
    margin: 1px 10px 0px 0;
    background: $lightGray;
  }

  mat-icon {
    margin: 0px 5px 0px 0px;
    height: 20px;
    width: 20px;
    font-size: 20px;
  }

  .CameraText {
    display: inline-flex;
  }
}

.zoom-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: calc(#{$headerVideoHeight} / 2 - 10px) calc(#{$headerVideoHeight} / 2 - 10px);

  .zoom-slider {
    display: grid;
    grid-template-columns: 1.5em auto 1.5em;

    span {
      margin: auto 0;
    }
  }

  div {
    padding: 0 10px;
    margin: auto 0;
    font-size: $fontSizeVideoText16;
    font-weight: 600;
  }

  span {
    font-size: $fontSizeVideoText16;
    font-weight: 100;
  }
}

.speed-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: calc(#{$headerVideoHeight} / 2 - 10px) calc(#{$headerVideoHeight} / 2 - 10px);

  div {
    padding: 0 10px;
    margin: auto 0;
    font-size: $fontSizeVideoText16;
    font-weight: 600;
  }

  span {
    font-size: $fontSizeVideoText16;
    font-weight: 100;
  }
}

.speedSlowImg {
  width: 30px;
  height: auto;
}

.speedFastImg{
  width: 24px;
  height: auto;
}

.expendVideo {
  position: absolute;
  bottom: 10px;
  z-index: 50;
  right: 10px;
  width: 50px;
  height: auto;
  font-size: 50px;
  color: $white;
}

.arrows {
  position: absolute;
  font-size: 50px;
  height: 50px;
  width: 50px;
  color: $white;
  z-index: 1000;
  cursor: pointer;
  background: rgba(0,0,0,0.2);
  border-radius: 25px;
}

.left {
  top: 49%;
  left: 0;
}

.right {
  top: 49%;
  right: 0;
}

.upLow {
  top: $headerVideoHeight;
  left: 49%
}

.up {
  top: 0;
  left: 49%
}

.down {
  bottom: 0;
  left: 49%
}

.mat-raised-button {
  line-height: 30px;
}

.mat-slider-horizontal {
  height: 40px;
  min-width: 160px;
}

.mat-slider {
  padding: 0px;
  vertical-align: bottom;
}

.controlRequestContainer {
  position: absolute;
  width: 300px;
  height: 90px;
  top: 100px;
  left: 20%;
  background-color: $darkGrayOpacity;
  text-align: center;
  color: $white;
  font-size: $fontSizeTitle14;
  border-radius: 10px;
  z-index: 1000;

  button {
    margin: 5px;
    color: $white;
  }

  div {
    margin: 7px;
  }

  .ConfirmButtonDecline {
    background-color: $red;
  }
  .ConfirmButtonAccept {
    background-color: $green;
  }
}

