<div oncontextmenu="return false;">
  <!--Header-->
  <div *ngIf="applicationService?.selectedWindow === VIDEO_OR_MAP.map"
       class="LiveVideoHeader">
    <!--Drone-->
    <div class="drone-container container">
      <div>UAV name:
        <span>{{applicationService?.selectedAirVehicle?.name}}</span>&nbsp;
        <!--<span>{{applicationService.selectedAirVehicle.id}}</span>-->
      </div>
      <div>AGL: <span>{{applicationService?.selectedAirVehicle?.altitudeAGL}}m</span>, ASL: <span>{{applicationService?.selectedAirVehicle?.altitudeAsl}}m</span></div>
      <div>Day<mat-slide-toggle (change)="changeSlide($event)"></mat-slide-toggle>Night</div>
      <div class="videoSelect" *ngIf="isNight">
        <mat-form-field appearance="outline" class="SPMatFormField">
          <!--<mat-label>Choose color palette</mat-label>-->
        <mat-select placeholder="Choose color palette" (selectionChange)="checkColorPalette($event)">
          <mat-option *ngFor="let color of colorPalette" [value]="color">
            {{color}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      </div>
    </div>
    <!--Camera-->
    <div class="camera-container container">
      <div class="itemCameraDiv">Camera Control:
        <div class="CameraText" [ngStyle]="{'color': gimbal?.modeDefine?.styles?.gimbalControlColor[videoUrlKey]}">
          <span>{{gimbal?.controlData[videoUrlKey]?.userText}}</span>
          <mat-icon *ngIf="gimbal?.controlData[videoUrlKey]?.isLocked">lock</mat-icon>
        </div>
      </div>
      <button *ngIf="gimbal?.controlData[videoUrlKey]?.userId !== loginService.getUserId()"
              (click)="onControlAction(GIMBAL_CONTROL_ACTION.takeControl)" mat-raised-button>Take Control</button>
      <button *ngIf="gimbal?.controlData[videoUrlKey]?.userId === loginService.getUserId()"
              (click)="onControlAction(GIMBAL_CONTROL_ACTION.releaseControl) "mat-raised-button>Release Control</button>
      <button *ngIf="gimbal?.controlData[videoUrlKey]?.userId == loginService.getUserId() && !gimbal?.controlData[videoUrlKey]?.isLocked"
              (click)="onControlAction(GIMBAL_CONTROL_ACTION.lockControl)" mat-raised-button>Lock Control</button>
      <button *ngIf="gimbal?.controlData[videoUrlKey]?.userId == loginService.getUserId() && gimbal?.controlData[videoUrlKey]?.isLocked"
              (click)="onControlAction(GIMBAL_CONTROL_ACTION.unlockControl)" mat-raised-button>Un-Lock Control</button>
    </div>
    <!--Zoom-->
    <div class="zoom-container container">
      <div>Camera zoom:
        <span *ngIf="!isNight">{{gimbal?.visibleCameraParameters?.zoomVisibleCamera}}x</span>
        <span *ngIf="isNight">{{gimbal?.infraredCameraParameters?.zoomInfraredCamera}}x</span>
      </div>
      <div class="zoom-slider">
        <span>0</span>
        <mat-slider
          thumbLabel
          [displayWith]="formatLabel"
          [tickInterval]="tickIntervalZoom"
          [step]="stepZoom"
          [min]="minZoom"
          [max]="maxZoom"
          [(ngModel)]="zoomModel"
          (change)="onChangeZoom(zoomModel)"
        >
        </mat-slider>
        <span>10x</span>
      </div>
    </div>
    <!--Speed-->
    <div class="speed-container container">
      <div>Camera rate: <span>{{speedModel}}°</span></div>
      <div>
        <img src="../../../../assets/slow.png" class="speedSlowImg" alt="slow">
        <mat-slider
          thumbLabel
          [tickInterval]="tickIntervalSpeed"
          [min]="minSpeed"
          [max]="maxSpeed"
          [(ngModel)]="speedModel"
        >
        </mat-slider>
        <img src="../../../../assets/fast.png" class="speedFastImg" alt="fast">
      </div>
    </div>

    <!--Telemetry-->
    <div class="zoom-container container">
      <div>Pitch: <span>{{gimbal?.gimbalParameters?.pitch}}°</span></div>
      <div>Yaw: <span>{{gimbal?.gimbalParameters?.yaw}}°</span></div>
    </div>
  </div>
  <!--Arrows-->
  <div class="LiveVideoContent">
    <mat-icon class="arrows left" (click)="onClickDirection('left')"> keyboard_arrow_left </mat-icon>
    <mat-icon class="arrows right" (click)="onClickDirection('right')"> keyboard_arrow_right </mat-icon>
    <mat-icon class="arrows upLow" (click)="onClickDirection('up')" *ngIf="applicationService?.selectedWindow === VIDEO_OR_MAP.map"> keyboard_arrow_up </mat-icon>
    <mat-icon class="arrows up" (click)="onClickDirection('up')" *ngIf="applicationService?.selectedWindow === VIDEO_OR_MAP.video"> keyboard_arrow_up </mat-icon>
    <mat-icon class="arrows down" (click)="onClickDirection('down')"> keyboard_arrow_down </mat-icon>
    <mat-icon *ngIf="applicationService?.selectedWindow === VIDEO_OR_MAP.video"
              class="expendVideo"
              (click)="onExpendVideo()">zoom_out_map
    </mat-icon>
    <!--Video-canvas-->
    <app-canvas-video *ngIf="applicationService?.screen?.showVideoCanvas && gimbal && gimbal[videoUrlKey]"
                      [url]="gimbal[videoUrlKey]">
    </app-canvas-video>
  </div>
  <!--Control Request-->
  <div *ngIf="gimbal?.controlData[videoUrlKey]?.request?.status === GIMBAL_REQUEST_STATUS.InProgress" class="controlRequestContainer">
    <div class="text">
      {{gimbal?.controlData[videoUrlKey]?.request?.userText}} is requesting for control
    </div>
    <div class="buttons">
      <button mat-raised-button class="ConfirmButtonDecline"
              (click)="onControlAction(GIMBAL_CONTROL_ACTION.rejectRequestForControl)">Decline
      </button>
      <button mat-raised-button class="ConfirmButtonAccept"
              (click)="onControlAction(GIMBAL_CONTROL_ACTION.acceptRequestForControl)">Accept
      </button>
    </div>
  </div>
</div>
