@import "../../../../styles/colors";
@import "../../../../styles/variable";


.HeaderContainer {
  color: $white;
}

.HeaderLogo{
  width: 160px;
}

.HeaderLeftSide {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  max-width: calc(100vw - 50%);

  .LeftSideButton {
    margin: auto 10px;
    text-align: center;
    height: $headerHeight;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $fontSizeTitleHeader17;
    cursor: pointer;
  }

  .HPLeftSideIcon {
    font-size: 25px;
  }

  .LeftSideLabel {
    font-size: $fontSizeTitleHeader17;
  }

  .LPSelected {
    border-bottom: white 2px solid;
    font-weight: bolder;
  }

  .LPNotSelected {

  }
}


.HeaderRightSide {
  position: absolute;
  display: flex;
  right: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  max-width: calc(100vw - 50%);

  .RightSideButton {
    margin: auto 5px;
    text-align: center;
    height: $headerHeight;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $fontSizeTitleHeader17;
  }

  .HPRightSideIcon {
    width: $iconWidth;
    font-size: $iconFontSize;
    margin: 5px;
  }

  .RightSideDiv {
    display: inline-block;
    margin: auto 10px;
    text-align: center;
  }

  .RightLine {
    border-left: 1px solid $lightGray;
    margin: auto 5px;
    height: 55px;
    text-align: center;
  }
}

.HeaderButtons{
  text-align: center;
}
.HeaderButtonApply{
  background-color: $gray;
}

.mat-menu-item {
  line-height: 25px;
  height: 25px;
}

.Disabled{
  color: $darkGray;
  cursor: no-drop !important;
}

::ng-deep.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
   padding: 0 5px !important;
}

// Search Bar =======================================================
.search__input {
  border: $black 0;
  background-color: transparent;
  margin: 8px;
  font-size: 16px;
}

.search__input:focus {
  outline: 0;
}

.search__container {
  background-color: $white;
  color: $black;
  border-radius: 3px;
  height: 40px;
}
