<div class="HeaderContainer">
  <!--Left Side-->
  <div class="HeaderLeftSide">
    <!--logo-->
    <div class="LeftSideButton"><img class="HeaderLogo" src="../../../../assets/ResponDrone-Logo-white.png"></div>
    <!--Situation Picture-->
    <div (click)="onSituationPicture()" class="LeftSideButton">
      <span [ngClass]="{LPSelected: applicationService.selectedHeaderPanelButton === Header_Buttons.situationPictures,
             LPNotSelected: applicationService.selectedHeaderPanelButton === Header_Buttons.none}"
            class="LeftSideLabel">
        Situation Picture</span>
    </div>
    <!--Mission Control-->
    <div (click)="onMissionControl()" class="LeftSideButton">
      <span [ngClass]="{LPSelected: applicationService.selectedHeaderPanelButton === Header_Buttons.missionControl,
             LPNotSelected: applicationService.selectedHeaderPanelButton === Header_Buttons.none}"
            class="LeftSideLabel">
        Mission Control</span>
    </div>
    <!--Live Video-->
    <div (click)="onLiveVideo()" *ngIf="screenWidth > 1200"
         class="LeftSideButton"><!--[ngClass]="applicationService?.selectedAirVehicle ? '' : 'Disabled'"-->
      <span [ngClass]="{LPSelected: applicationService.selectedHeaderPanelButton === Header_Buttons.liveVideo,
             LPNotSelected: applicationService.selectedHeaderPanelButton === Header_Buttons.none}"
            class="LeftSideLabel">
        Live Video</span>
    </div>
    <!--Media-->
    <!--<div (click)="onMedia()" class="LeftSideButton">
      <span [ngClass]="{LPSelected: applicationService.selectedHeaderPanelButton === Header_Buttons.media,
             LPNotSelected: applicationService.selectedHeaderPanelButton === Header_Buttons.none}"
            class="LeftSideLabel">
        Media</span>
    </div>-->
    <!--Toolbox-->
    <!--<div (click)="onToolbox()" class="LeftSideButton">
      <span [ngClass]="{LPSelected: applicationService.selectedHeaderPanelButton === Header_Buttons.toolbox,
             LPNotSelected: applicationService.selectedHeaderPanelButton === Header_Buttons.none}"
            class="LeftSideLabel">
        Toolbox</span>
      <mat-icon class="HPLeftSideIcon">keyboard_arrow_down</mat-icon>
    </div>-->
    <!--View-->
    <div (click)="onView()" *ngIf="screenWidth > 1200" class="LeftSideButton">
      <button #target="matMenuTrigger" [matMenuTriggerFor]="menuView" mat-button>
        <span [ngClass]="{LPSelected: applicationService.selectedHeaderPanelButton === Header_Buttons.more,
        LPNotSelected: applicationService.selectedHeaderPanelButton === Header_Buttons.none}"
              class="LeftSideLabel">View</span>
        <mat-icon *ngIf="!target.menuOpen" class="HPLeftSideIcon">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="target.menuOpen" class="HPLeftSideIcon">keyboard_arrow_up</mat-icon>
      </button>
    </div>

    <!--More-->
    <div (click)="onMore()" *ngIf="screenWidth <= 1200" class="LeftSideButton">
      <button #target="matMenuTrigger" [matMenuTriggerFor]="menu" mat-button>
      <span [ngClass]="{LPSelected: applicationService.selectedHeaderPanelButton === Header_Buttons.more || applicationService.selectedHeaderPanelButton === Header_Buttons.liveVideo,
             LPNotSelected: applicationService.selectedHeaderPanelButton === Header_Buttons.none}"
            class="LeftSideLabel">
        More</span>
        <mat-icon *ngIf="!target.menuOpen" class="HPLeftSideIcon">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="target.menuOpen" class="HPLeftSideIcon">keyboard_arrow_up</mat-icon>
      </button>
    </div>
    <mat-menu #menu="matMenu" role="">
      <button [ngStyle]="{'background': applicationService.selectedHeaderPanelButton === Header_Buttons.liveVideo ? '#d7d7d7' : ''}"
              (click)="onLiveVideo()" mat-menu-item>Live video</button>
      <button [matMenuTriggerFor]="menuView" mat-menu-item>View</button>
    </mat-menu>
    <mat-menu #menuView="matMenu" role="menuitemcheckbox">
      <div *ngFor="let viewItem of viewItems; let i = index">
        <mat-checkbox *ngIf="VIEW_LIST[viewItem] !== VIEW_LIST.showGraphicOverlays"
                      #checkboxes
                      (change)="onChangeCheckbox($event, viewItem)"
                      (click)="$event.stopPropagation();"
                      [checked]="viewItem"
                      class="mat-menu-item"
        >{{VIEW_LIST[viewItem]}}</mat-checkbox>
      </div>
      <button [matMenuTriggerFor]="graphicOverlay" mat-menu-item>Graphic Overlays</button>
    </mat-menu>
    <mat-menu #graphicOverlay="matMenu">
      <div *ngFor="let graphicOverlay of graphicOverlays; let i = index">
        <mat-checkbox #checkboxesGO
                      (change)="onChangeGraphicOverlay($event, graphicOverlay)"
                      (click)="$event.stopPropagation();"
                      [checked]="graphicOverlay"
                      class="mat-menu-item"
        >{{graphicOverlay}}</mat-checkbox>
      </div>
    </mat-menu>

  </div>
  <!--Right Side-->
  <div class="HeaderRightSide">
    <!--Cursor position LAT LNG panel-->
    <div *ngIf="screenWidth > 1200" class="RightSideButton">
      <app-cursor-position></app-cursor-position>
    </div>
    <!--&lt;!&ndash;SubSystemStatus&ndash;&gt;-->
    <!--<div *ngIf="screenWidth > 1200" class="RightSideButton">-->
    <!--<mat-icon class="HPRightSideIcon">-->
    <!--wifi-->
    <!--</mat-icon>-->
    <!--</div>-->
    <!--<div *ngIf="screenWidth > 1200" class="RightSideButton">-->
    <!--<mat-icon class="HPRightSideIcon">-->
    <!--settings-->
    <!--</mat-icon>-->
    <!--</div>-->
    <!--<div *ngIf="screenWidth > 1200" class="RightSideButton ">-->
    <!--<mat-icon class="HPRightSideIcon">-->
    <!--cloud-->
    <!--</mat-icon>-->
    <!--</div>-->
    <!--<div *ngIf="screenWidth > 1200" class="RightLine"></div>-->
    <!--Status Indicator-->
    <div class="RightSideButton">
      <!--<mat-icon [matMenuTriggerFor]="statuses" class="HPRightSideIcon pointer" >wifi</mat-icon>-->
      <img alt="" class="RightSideIcon pointer"
           (click)="closeMatMenu('statuses')"
           [matMenuTriggerFor]="statuses"
           #statusesMenuTrigger="matMenuTrigger"
           src="{{statusIndicatorService?.modeDefine?.data?.styles?.icon}}">
    </div>
    <mat-menu #statuses="matMenu" >
      <div class="UserName">
        <span>Servers Connections</span>
      </div>
      <div>
        <div class="gridStatus" *ngFor="let item of statusIndicatorService?.statusData?.data | keyvalue">
          <span class="title">{{item.key}}: </span>
          <span class="value" [ngStyle]="{'color': statusIndicatorService?.modeDefine?.data?.styles?.colors[item.key]}"
                matTooltip="{{item.value?.description}}" matTooltipPosition="above">
                {{item.value?.status}}
          </span>
        </div>
      </div>
    </mat-menu>
    <!--Entity Search-->
    <div class="RightSideButton">
      <app-search-panel></app-search-panel>
    </div>
    <!--Account Management-->
    <div class="RightSideButton">
      <mat-icon [matMenuTriggerFor]="login"
                (click)="closeMatMenu('login')"
                #loginMenuTrigger="matMenuTrigger"
                class="RightSideIcon pointer">
        account_circle
      </mat-icon>
    </div>
    <mat-menu #login="matMenu">
      <div class="UserName">
        <span>{{loginService.getUserName()}}</span>
      </div>
      <button (click)="onLogout()" mat-menu-item>
        <span>Log Out</span>
      </button>
    </mat-menu>
    <!--Date-->
    <div class="RightSideDiv">
      <div class="">{{applicationService.now | date: 'dd/MM/yyyy'}}</div>
      <div class="">{{applicationService.now | date: 'HH:mm'}}</div>
    </div>
  </div>
</div>
