@import "../../../../styles/colors";
@import "../../../../styles/variable";

.HeaderContainer{
  color: $white;
}

.HeaderLeftSide{
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;

  .LeftSideButton{
    margin: auto 10px;
    text-align: center;
    height: $headerHeight;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }

  .HPLeftSideIcon{
    font-size: 25px;
  }
}


.HeaderRightSide{
  position: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;

  .RightSideButton{
    margin: auto 5px;
    text-align: center;
    height: $headerHeight;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }

  .HPRightSideIcon {
    width: 35px;
    font-size: 35px;
    margin: 5px;
  }
}

.RightSideDiv{
  display: inline-block;
  margin: auto 10px;
  text-align: center;
}
.date{
  //background-color: yellow;
}
.RightLine{
  border-left: 1px solid $lightGray;
  margin: auto 5px;
  height: 55px;
  text-align: center;
}
