@import "../../../../styles/colors";
@import "../../../../styles/variable";


.HeaderContainer {
  color: $white;
}

.HeaderLogo {
  width: 160px;
}

.HeaderLeftSide {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  max-width: calc(100vw - 50%);

  .LeftSideButton {
    margin: auto 10px;
    text-align: center;
    height: $headerHeight;
    display: flex;
    align-items: center;
    justify-content: center;
    //font-size: $fontSizeTitleHeader17;
    cursor: pointer;
  }

  .HPLeftSideIcon {
    font-size: 25px;
  }

  .LeftSideLabel {
    //font-size: $fontSizeTitleHeader17;
  }

  .LPSelected {
    border-bottom: white 2px solid;
    font-weight: bolder;
  }

  .LPNotSelected {

  }
}

@media screen and (max-width: 1280px) and (min-width: 1221px) {
  .HeaderLeftSide {
    .LeftSideLabel {
      font-size: $fontSizeTitle15;
    }

    ::ng-deep.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
      font-size: $fontSizeTitle15;
    }
  }
}

@media screen and (max-width: 1320px) and (min-width: 1281px) {
  /* CSS that should be displayed if width is equal to or less than 1280px goes here */
  .HeaderLeftSide {
    .LeftSideLabel {
      font-size: $fontSizeTitleHeader16;
    }

    ::ng-deep.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
      font-size: $fontSizeTitleHeader16;
    }
  }
}

@media screen and (min-width: 1321px) {
  /* CSS that should be displayed if width is equal to or less than 1280px goes here */
  .HeaderLeftSide {
    .LeftSideLabel {
      font-size: $fontSizeTitleHeader17;
    }

    ::ng-deep.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
      font-size: $fontSizeTitleHeader17;
    }
  }
}

.HeaderRightSide {
  position: absolute;
  display: flex;
  right: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  max-width: calc(100vw - 50%);

  .RightSideButton {
    margin: auto 5px;
    text-align: center;
    height: $headerHeight;
    display: flex;
    align-items: center;
    justify-content: center;
    //font-size: $fontSizeTitleHeader17;
  }

  .HPRightSideIcon {
    width: $iconSize;
    height: $iconSize;
    font-size: $iconFontSize;
    margin: 5px;
    cursor: default;
  }

  .RightSideDiv {
    display: inline-block;
    margin: auto 10px;
    text-align: center;
  }

  .RightLine {
    border-left: 1px solid $lightGray;
    margin: auto 5px;
    height: 55px;
    text-align: center;
  }

}

.HeaderButtons {
  text-align: center;
}

.HeaderButtonApply {
  background-color: $gray;
}

.UserName {
  line-height: 35px;
  height: 35px;
  cursor: default;
  outline: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  max-width: 100%;
  position: relative;
  border-bottom: 1px solid $gray;
  font-weight: 600;
  font-size: 15px;
}

.Disabled {
  color: $darkGray;
  cursor: no-drop !important;
}

.mat-menu-item {
  line-height: 25px;
  height: 25px;
}

::ng-deep.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
  padding: 0 5px !important;
}

//// Search Bar =======================================================
//.search__input {
//  border: $black 0;
//  background-color: transparent;
//  margin: 8px;
//  font-size: 16px;
//}
//
//.search__input:focus {
//  outline: 0;
//}
//
//.search__container {
//  background-color: $white;
//  color: $black;
//  border-radius: 3px;
//  height: 40px;
//}
