<div>
  <!--Header-->
  <div class="HeaderLeftPanel">
    <div class="LeftSideButton" >Search</div>
  <!--<mat-form-field class="LeftSideButton">-->
    <!--<mat-label>Filter</mat-label>-->
    <!--<input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>-->
  <!--</mat-form-field>-->
</div>

  <div class="HeaderRightPanel">
    <div class="RightSideButton" (click)="onCreateNewEvent()">Create New Event</div>
  </div>
  <!--Table-->
<div>
  <app-events-situation-table></app-events-situation-table>
</div>
</div>
