@import "../../../../../styles/variable";

.HeaderLeftPanel {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;

  .LeftSideButton {
    margin: auto 10px;
    text-align: center;
    height: $headerSituationPicture;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }
}


.HeaderRightPanel {
  position: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;

  .RightSideButton {
    margin: auto 5px;
    text-align: center;
    height: $headerSituationPicture;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }
}
