@import "../../../../styles/colors";
@import "../../../../styles/variable";

.LeftPanelX{
  position: absolute;
  float: right;
  margin: 0 0 0 -40px;
  font-size: 20px;
  color: $gray;
}

::ng-deep .mat-tab-list .mat-tab-label {
  font-size: $fontSizeTitleHeader19;
  font-weight: bold;
}

/* Styles for the active tab label */
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  font-weight: bold !important;
  color: $black;
}

::ng-deep.mat-tab-label.mat-tab-disabled {
  cursor: default;
  position: absolute;
  right: 0;
  min-width: 10px;
  padding: 0;
}
