<!--<mat-sidenav-container class="RightPanelContainer">-->
  <!--<mat-sidenav-content class="RightPanelContent">-->
    <!--gfrhjtdkg-->
  <!--</mat-sidenav-content>-->
<!--</mat-sidenav-container>-->
<div>
  <!--Header-->
  <div>
    <!--Events-->
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Events">
        <app-events-situation-picture></app-events-situation-picture>
      </mat-tab>
      <!--Reports-->
      <mat-tab label="Reports">
        <app-reports-situation-picture></app-reports-situation-picture>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
