
<div>
  <!--Header-->
  <div>
    <div class="LeftPanelX" >
      <button mat-icon-button (click)="closeSituationPicture()">
        <mat-icon>{{panelIcon}}</mat-icon>
      </button>
    </div>

    <mat-tab-group animationDuration="0ms">
      <!--Events-->
      <mat-tab label="Events">
        <app-events-situation-picture></app-events-situation-picture>
      </mat-tab>
      <!--Reports-->
      <mat-tab label="Reports">
        <app-reports-situation-picture></app-reports-situation-picture>
      </mat-tab>
    </mat-tab-group>

  </div>
</div>
