@import "../../../../styles/colors";
@import "../../../../styles/variable";
@import "../../../../styles/resizes";

.LeftPanelX{
  position: absolute;
  float: right;
  font-size: 20px;
  color: $gray;
}

/* Styles for the active tab label */
//::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
//  font-weight: bold !important;
//  color: $black;
//}

::ng-deep.mat-tab-label.mat-tab-disabled {
  cursor: default;
  position: absolute;
  right: 0;
  min-width: 10px;
  padding: 0;
}
::ng-deep.mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled) {
  font-weight: bold !important;
  color: $black;
  opacity: 1;
}
