<!--Situation Pictures-->
<div *ngIf="applicationService.screen.showSituationPicture">
  <!--Header-->
  <div>
    <mat-tab-group animationDuration="0ms" [(selectedIndex)]="applicationService.currentTabIndexSituationPicture"
                   (selectedTabChange)="onSituationPictureTabChange($event)">
      <!--Events-->
      <mat-tab label="Events">
        <app-events-situation-picture></app-events-situation-picture>
      </mat-tab>
      <!--Reports-->
      <mat-tab label="Reports">
        <app-reports-situation-picture></app-reports-situation-picture>
      </mat-tab>
      <!--Button-->
      <mat-tab disabled>
        <ng-template mat-tab-label>
          <button mat-icon-button [ngStyle]="{'margin-right': '15px'}" (click)="minimizationPanel()">
            <mat-icon>{{applicationService.panelIcon}}</mat-icon>
          </button>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<!--Mission Control-->
<div *ngIf="applicationService.screen.showMissionControl">
  <!--Header-->
  <div>
    <mat-tab-group animationDuration="0ms" [(selectedIndex)]="applicationService.currentTabIndexMissionControl"
                   (selectedTabChange)="onMissionControlTabChange($event)">
      <!--Tasks-->
      <mat-tab label="Tasks">
        <app-tasks-mission-control></app-tasks-mission-control>
      </mat-tab>
      <!--Missions-->
      <mat-tab label="Missions">
        <app-missions-mission-control></app-missions-mission-control>
      </mat-tab>
      <!--Button-->
      <mat-tab disabled>
        <ng-template mat-tab-label>
          <button mat-icon-button [ngStyle]="{'margin-right': '15px'}" (click)="minimizationPanel()">
            <mat-icon>{{applicationService.panelIcon}}</mat-icon>
          </button>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>


