<!--<h1 mat-dialog-title></h1>-->
<div *ngIf="applicationService.screen.showViewMedia" class="overlay-container">
  <div class="ViewMediaContainer">
    <div class="close">
      <button (click)="onClose()" mat-button>
        <span class="material-icons">close</span>
      </button>
    </div>
    <!--Image-->
    <div *ngIf="applicationService?.selectedViewMedia?.type === MEDIA_TYPE.image" >
      <img [src]="applicationService?.selectedViewMedia?.fullUrl" class="media">
    </div>
    <!--Video-->
    <div *ngIf="applicationService?.selectedViewMedia?.type === MEDIA_TYPE.video" >
      <!--<video controls [src]="applicationService?.selectedViewMedia?.url" class="media"></video>-->
      <div id="video-container">
        <video #videoPlayer autoplay="false" class="media" controls="controls">
          <source [src]='applicationService?.selectedViewMedia?.fullUrl'/>
        </video>
      </div>
    </div>
  </div>
</div>
