<div class="DialogContainer">
  <!--Header-->
  <div class="DialogHeader" mat-dialog-title>
    <span class="DialogHeaderTitle">Add linked event</span>
    <span class="DialogHeaderX">
      <button  mat-icon-button (click)="onNoClick()">
      <mat-icon>close</mat-icon>
    </button>
  </span>
  </div>
  <!--Content-->
  <mat-dialog-content class="DialogContent">
    <app-linked-event-container ></app-linked-event-container>
  </mat-dialog-content>
  <!--Action-->
  <div class="DialogActions" mat-dialog-actions>
    <button mat-raised-button
            class="DialogActionsCreate"
            [disabled]="!this.isEnableAddBtn()" (click)="onAddClick()">Add</button>
  </div>
</div>
