<div>
  <!--Air Resources-->
  <div>
    <mat-toolbar class="RightPanelContainer" *ngIf="applicationService.screen.showAirResources">
      <div class="RightPanelHeader">Air Resources</div>
      <span class="example-spacer"></span>
      <!--sort-->
      <button mat-icon-button class="example-icon sortIcon" mat-button [matMenuTriggerFor]="sortAir">
        <mat-icon>unfold_more</mat-icon>
      </button>
      <!-- plus / minus-->
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
      (click)="onShowAirResources()">
        <mat-icon *ngIf="!showAirResources">add</mat-icon>
        <mat-icon *ngIf="showAirResources">remove</mat-icon>
      </button>
    </mat-toolbar>
    <app-air-resources
      *ngIf="showAirResources && applicationService.screen.showAirResources"
      [optionSelected]="optionAirSelected"
      [screenWidth]="screenWidth"
    ></app-air-resources>
  </div>

  <!--Ground Resources-->
  <div>
    <mat-toolbar class="RightPanelContainer" *ngIf="applicationService.screen.showGrandResources">
      <div class="RightPanelHeader">Ground Resources</div>
      <span class="example-spacer"></span>
      <!--sort-->
      <button mat-icon-button class="example-icon sortIcon" mat-button [matMenuTriggerFor]="sortGround">
        <mat-icon>unfold_more</mat-icon>
      </button>
      <!-- plus / minus-->
      <button mat-icon-button class="example-icon"
              (click)="onShowGroundResources()">
        <mat-icon *ngIf="!showGroundResources">add</mat-icon>
        <mat-icon *ngIf="showGroundResources">remove</mat-icon>
      </button>
    </mat-toolbar>
    <app-ground-resources
      *ngIf="showGroundResources && applicationService.screen.showGrandResources"
      [optionSelected]="optionGroundSelected"
      [screenWidth]="screenWidth"
    ></app-ground-resources>
  </div>
</div>

<!--Sort Air-->
<mat-menu #sortAir="matMenu">
  <button mat-menu-item *ngFor="let sortAir of sortAirList" (click)="onSortAirList(sortAir)">{{sortAir}}</button>
</mat-menu>

<!--Sort Ground-->
<mat-menu #sortGround="matMenu">
  <button mat-menu-item *ngFor="let sortGround of sortGroundList" (click)="onSortGroundList(sortGround)">{{sortGround}}</button>
</mat-menu>
