<div class="table-scroll scroll">
  <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort multiTemplateDataRows>
    <ng-container *ngFor="let column of (applicationService.panelIcon === LEFT_PANEL_ICON.expand)?displayedColumns: displayedColumnsMinimize;
    let i = index" matColumnDef="{{column}}">
      <!--Rows-->
      <span *ngIf="column !== 'select'">
        <th *matHeaderCellDef [disabled]="isSortingDisabled(column)"
            mat-header-cell mat-sort-header>
          <span *ngIf="column !== 'message' && column !== 'link' && column !== 'map' && column !== 'attachment'"
                class="capitalize">{{column}}</span>
          <mat-icon *ngIf="column === 'message'" class="HPRightSideIcon">comment</mat-icon>
          <mat-icon *ngIf="column === 'link'" class="HPRightSideIcon">link</mat-icon>
          <mat-icon *ngIf="column === 'map'" class="HPRightSideIcon">location_on</mat-icon>
          <mat-icon *ngIf="column === 'attachment'" class="HPRightSideIcon">attach_file</mat-icon>
        </th>
        <td *matCellDef="let element" mat-cell>
          <span *ngIf="element.modeDefine?.tableData[column]">
            <mat-icon *ngIf="element.modeDefine?.tableData[column]?.type === 'matIcon'"
                      [ngStyle]="{'color': element.modeDefine?.tableData[column]?.color}"
                      class="HPRightSideIcon">
               {{element.modeDefine?.tableData[column]?.data}}
             </mat-icon>
            <!--image-->
            <img *ngIf="element.modeDefine?.tableData[column]?.type === 'image'"
                 [src]="element.modeDefine?.tableData[column]?.data"
                 class="tableImage">
            <!--text-->
            <span *ngIf="element.modeDefine?.tableData[column]?.type === 'text'">
               {{element.modeDefine?.tableData[column]?.data}}
            </span>
            <!--data-->
            <span *ngIf="element.modeDefine?.tableData[column]?.type === 'date'">
               {{element.modeDefine?.tableData[column]?.data | date:'hh:mm'}}
            </span>
          </span>
          <span *ngIf="!element.modeDefine?.tableData[column]">
            {{element[column]}}
          </span>
        </td>
      </span>
      <!--Checkbox-->
      <span *ngIf="column === 'select'">
      <th *matHeaderCellDef class="tableCheckbox" mat-header-cell>
        <mat-checkbox (change)="onChangeAllSelected($event)"
                      [aria-label]="checkboxLabel()"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
        <td *matCellDef="let row" mat-cell>
        <mat-checkbox (change)="onChangeCheckbox($event, row)"
                      (click)="$event.stopPropagation()"
                      [aria-label]="checkboxLabel(row)"
                      [checked]="selection.isSelected(row)">
          </mat-checkbox>
      </td>
      </span>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td *matCellDef="let element"
          [attr.colspan]="(applicationService.panelIcon === LEFT_PANEL_ICON.expand) ? displayedColumns.length : displayedColumnsMinimize.length"
          mat-cell>
        <div
          [@detailExpand]="applicationService.panelIcon === LEFT_PANEL_ICON.expand && expandedElement[element.id] && element.id === expandedElement[element.id].id ? 'expanded' : 'collapsed'"
          [style.height]="applicationService.panelIcon === LEFT_PANEL_ICON.expand && expandedElement[element.id] && element.id === expandedElement[element.id].id ? 'unset' : '0 !important'"
          class="example-element-detail">
          <!--Description & Comments-->
          <div class="example-element-description">
            <mat-accordion>
              <mat-expansion-panel (opened)="expendPanelDescription(true)" [expanded]="panelOpenState">
                <mat-expansion-panel-header>
                  <div class="expendTitle">
                    Description
                  </div>
                </mat-expansion-panel-header>
                <div class="description-content scroll">{{element.description}}</div>
              </mat-expansion-panel>
            </mat-accordion>
            <!--Comments array-->
            <div class="example-element-comments">
              <app-comments-panel [comments]="element.comments"
                                  (changeComments)="onChangeComments($event, element)"
                                  [isOpenDescription]="panelOpenState"></app-comments-panel>
            </div>
          </div>

          <!--Linked events table-->
          <div class="example-element-linked">
            <app-linked-events-table (updateLinkedEvents)="onUpdateLinkedEvents($event, element)"
                                     [element]="element">
            </app-linked-events-table>
            <!--Media-->
            <div class="example-element-media">
              <app-report-media
                (onAddMedia)="onAddMedia($event, element)"
                (onDeleteMedia)="onDeleteMedia($event, element)"
                [media]="element.media">
              </app-report-media>
            </div>
          </div>
        </div>
      </td>
    </ng-container>


    <tr *matHeaderRowDef="(applicationService.panelIcon === LEFT_PANEL_ICON.expand)?displayedColumns: displayedColumnsMinimize; sticky: true"
        mat-header-row
    ></tr>
    <tr (click)="selectRow(row)"
        *matRowDef="let row; columns: (applicationService.panelIcon === LEFT_PANEL_ICON.expand)?displayedColumns: displayedColumnsMinimize;"
        [ngStyle]="{'background-color': (expandedElement[row.id])? '#f2f2f2' : '' }"
        class="example-element-row pointer"
        mat-row>
      <!--      [class.selected]="applicationService.selectedReport === row"-->
      <!--&lt;&ndash;&gt; [ngStyle]="{'background-color': (selectedData === row)? '#7f7f7f' : '' }"-->
    </tr>
    <tr *matRowDef="let element; columns: ['expandedDetail']" class="example-detail-row" mat-row></tr>
  </table>
</div>
