<div>
  <!--Header-->
  <div class="HeaderLeftPanel">
    <div class="LeftSideButton">
      <mat-icon>search</mat-icon>
      <input #input (keyup)="getFilter($event)" matInput>
    </div>
  </div>


  <div class="HeaderRightPanel">
<!--    <div (click)="onArchiveReport()"-->
<!--         *ngIf="applicationService.selectedReports.length > 0"-->
<!--         class="RightSideButton pointer">Archive-->
<!--    </div>-->
<!--    <div (click)="onEditReport()"-->
<!--         *ngIf="applicationService.selectedReports.length === 1"-->
<!--         class="RightSideButton pointer">Edit-->
<!--    </div>-->
<!--    <div (click)="onDeleteReport()"-->
<!--         *ngIf="applicationService.selectedReports.length > 0"-->
<!--         class="RightSideButton pointer">Delete-->
<!--    </div>-->

    <button mat-button *ngIf="this.applicationService.selectedMissionRequests.length === 1"
            [matMenuTriggerFor]="menu" class="RightSideButton">Update status</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item  (click)="onMissionRequestAction(MISSION_REQUEST_ACTION.Accept)"
              *ngIf="this.applicationService.selectedMissionRequests[0]?.actionOptions[MISSION_REQUEST_ACTION.Accept]">
        <span class="material-icons" [ngStyle]="{'color': '#fff746', 'font-size': '12px'}">stop_circle</span>
        Accept
      </button>
      <button mat-menu-item (click)="onMissionRequestAction(MISSION_REQUEST_ACTION.Approve)"
              *ngIf="this.applicationService.selectedMissionRequests[0]?.actionOptions[MISSION_REQUEST_ACTION.Approve]">
        <span class="material-icons" [ngStyle]="{'color': '#0c249c', 'font-size': '12px'}">stop_circle</span>
        Approve
      </button>
      <button mat-menu-item (click)="onMissionRequestAction(MISSION_REQUEST_ACTION.Reject)"
              *ngIf="this.applicationService.selectedMissionRequests[0]?.actionOptions[MISSION_REQUEST_ACTION.Reject]">
        <span class="material-icons" [ngStyle]="{'color': '#ff0000', 'font-size': '12px'}">stop_circle</span>
        Reject
      </button>
      <button mat-menu-item (click)="onMissionRequestAction(MISSION_REQUEST_ACTION.Cancel)"
              *ngIf="this.applicationService.selectedMissionRequests[0]?.actionOptions[MISSION_REQUEST_ACTION.Cancel]">
        <span class="material-icons" [ngStyle]="{'color': '#6f30a0', 'font-size': '12px'}">stop_circle</span>
        Canceled
      </button>
      <button mat-menu-item (click)="onMissionRequestAction(MISSION_REQUEST_ACTION.Complete)"
              *ngIf="this.applicationService.selectedMissionRequests[0]?.actionOptions[MISSION_REQUEST_ACTION.Complete]">
        <span class="material-icons" [ngStyle]="{'color': '#92d150', 'font-size': '12px'}">stop_circle</span>
        Completed</button>
    </mat-menu>

    <div (click)="onCreateNewMission()"
         class="RightSideButton pointer">Create New Mission
    </div>
  </div>
  <div class="HeaderRightPanel" *ngIf="applicationService.panelIcon === LEFT_PANEL_ICON.minimize"></div>
  <!--Table-->
  <div>
    <app-missions-table></app-missions-table>
  </div>
</div>
