<div>
  <!--Header-->
  <div class="HeaderLeftPanel">
    <div class="LeftSideSearchButton">
      <mat-icon matPrefix>search</mat-icon>
      <label class="LeftSideInputSearch">
        <input (keyup)="getFilter($event)" matInput type="text" #inputSearch>
      </label>
      <button (click)="clearPanel()"
              disableRipple="true"
              mat-icon-button matSuffix>x
      </button>
    </div>
  </div>


  <div *ngIf="applicationService.panelIcon === LEFT_PANEL_ICON.expand" class="HeaderRightPanel">
    <!--    <div (click)="onArchiveReport()"-->
    <!--         *ngIf="applicationService.selectedReports.length > 0"-->
    <!--         class="RightSideButton pointer">Archive-->
    <!--    </div>-->
    <!--    <div (click)="onEditReport()"-->
    <!--         *ngIf="applicationService.selectedReports.length === 1"-->
    <!--         class="RightSideButton pointer">Edit-->
    <!--    </div>-->
    <!--    <div (click)="onDeleteReport()"-->
    <!--         *ngIf="applicationService.selectedReports.length > 0"-->
    <!--         class="RightSideButton pointer">Delete-->
    <!--    </div>-->

    <div *ngIf="applicationService?.selectedMissionRequests?.length === 1
                && applicationService?.selectedMissionRequests[0]?.modeDefine?.data?.actionOptions?.numOfOptions > 0"
                [matMenuTriggerFor]="menu"
                class="RightSideButton pointer">Update status
    </div>
    <mat-menu #menu="matMenu" >
      <button (click)="onMissionRequestAction(MISSION_REQUEST_ACTION.Accept)"
              *ngIf="applicationService?.selectedMissionRequests[0]?.modeDefine?.data?.actionOptions[MISSION_REQUEST_ACTION.Accept]"
              mat-menu-item>
        <span [ngStyle]="{'color': '#fff746', 'font-size': '12px'}" class="material-icons">fiber_manual_record</span>
        Accept
      </button>
      <button (click)="onMissionRequestAction(MISSION_REQUEST_ACTION.Approve)"
              *ngIf="applicationService?.selectedMissionRequests[0]?.modeDefine?.data?.actionOptions[MISSION_REQUEST_ACTION.Approve]"
              mat-menu-item>
        <span [ngStyle]="{'color': '#0c249c', 'font-size': '12px'}" class="material-icons">fiber_manual_record</span>
        Approve
      </button>
      <button (click)="onMissionRequestAction(MISSION_REQUEST_ACTION.Reject)"
              *ngIf="applicationService?.selectedMissionRequests[0]?.modeDefine?.data?.actionOptions[MISSION_REQUEST_ACTION.Reject]"
              mat-menu-item>
        <span [ngStyle]="{'color': '#ff0000', 'font-size': '12px'}" class="material-icons">fiber_manual_record</span>
        Reject
      </button>
      <button (click)="onMissionRequestAction(MISSION_REQUEST_ACTION.Cancel)" *ngIf="applicationService?.selectedMissionRequests[0]?.modeDefine?.data?.actionOptions[MISSION_REQUEST_ACTION.Cancel]"
              mat-menu-item>
        <span [ngStyle]="{'color': '#6f30a0', 'font-size': '12px'}" class="material-icons">fiber_manual_record</span>
        Cancel
      </button>
      <button (click)="onMissionRequestAction(MISSION_REQUEST_ACTION.Complete)" *ngIf="applicationService?.selectedMissionRequests[0]?.modeDefine?.data?.actionOptions[MISSION_REQUEST_ACTION.Complete]"
              mat-menu-item>
        <span [ngStyle]="{'color': '#92d150', 'font-size': '12px'}" class="material-icons">fiber_manual_record</span>
        Complete
      </button>
    </mat-menu>

    <div (click)="onCreateNewMission()"
         class="RightSideButton pointer">{{(screenWidth > 1200)? 'Create ' : ''}} New Mission
    </div>
  </div>
  <div *ngIf="applicationService?.panelIcon === LEFT_PANEL_ICON.collapse" class="HeaderRightPanel"></div>
  <!--Table-->
  <div>
    <app-missions-table></app-missions-table>
  </div>
</div>
