<div>
  <!--Header-->
  <div class="HeaderLeftPanel">
    <div class="LeftSideButton" >Search</div>
    <!--<mat-form-field class="LeftSideButton">-->
    <!--<mat-label>Filter</mat-label>-->
    <!--<input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>-->
    <!--</mat-form-field>-->
  </div>

  <div class="HeaderRightPanel">
    <div class="RightSideButton" *ngIf="applicationService.selectedReport !== undefined" (click)="onArchiveReport()">Archive</div>
    <div class="RightSideButton" *ngIf="applicationService.selectedReport !== undefined" (click)="onEditReport()">Edit</div>
    <div class="RightSideButton" *ngIf="applicationService.selectedReport !== undefined" (click)="onDeleteReport()">Delete</div>
    <div class="RightSideButton" (click)="onCreateNewReport()">Create New Report</div>
  </div>
  <!--Table-->
  <div>
    <app-reports-situation-table></app-reports-situation-table>
  </div>
</div>
