<div>
  <!--Header-->
  <div class="HeaderLeftPanel">
    <div class="LeftSideSearchButton">
      <mat-icon>search</mat-icon>
      <input (keyup)="getFilter($event)" matInput type="text">
    </div>
  </div>

  <div class="HeaderRightPanel" *ngIf="applicationService.panelIcon === LEFT_PANEL_ICON.expand">
    <div (click)="onArchiveReport()"
         *ngIf="applicationService.selectedReports.length > 0"
         class="RightSideButton pointer">Archive
    </div>
    <div (click)="onEditReport()"
         *ngIf="applicationService.selectedReports.length === 1"
         class="RightSideButton pointer">Edit
    </div>
    <div (click)="onDeleteReport()"
         *ngIf="applicationService.selectedReports.length > 0"
         class="RightSideButton pointer">Delete
    </div>
    <div (click)="onCreateNewReport()"
         class="RightSideButton pointer">Create New Report
    </div>
  </div>
  <div class="HeaderRightPanel" *ngIf="applicationService.panelIcon === LEFT_PANEL_ICON.collapse"></div>
  <!--Table-->
  <div>
    <app-reports-situation-table></app-reports-situation-table>
  </div>
</div>
