<div>
  <!--Header-->
  <div class="HeaderLeftPanel">
    <div class="LeftSideButton">
      <mat-icon>search</mat-icon>
      <input #input (keyup)="getFilter($event)" matInput>
    </div>
  </div>

  <div class="HeaderRightPanel">
    <div (click)="onArchiveReport()"
         *ngIf="applicationService.selectedReport !== undefined && applicationService.panelIcon === LEFT_PANEL_ICON.expand"
         class="RightSideButton">Archive
    </div>
    <div (click)="onEditReport()"
         *ngIf="applicationService.selectedReport !== undefined && applicationService.panelIcon === LEFT_PANEL_ICON.expand"
         class="RightSideButton">Edit
    </div>
    <div (click)="onDeleteReport()"
         *ngIf="applicationService.selectedReport !== undefined && applicationService.panelIcon === LEFT_PANEL_ICON.expand"
         class="RightSideButton">Delete
    </div>
    <div (click)="onCreateNewReport()" *ngIf="applicationService.panelIcon === LEFT_PANEL_ICON.expand"
         class="RightSideButton">Create New Report
    </div>
  </div>
  <!--Table-->
  <div>
    <app-reports-situation-table></app-reports-situation-table>
  </div>
</div>
