<div class="AssigneesTable">
  <div class="AssigneesHeader" >
    <span class="DialogTitle">{{title}}</span>
    <span (click)="onAddAssignee()"
          [ngStyle]="{'color': (frService.frs.data.length <= 0) ? 'lightgray': '',
                      'border-bottom': (frService.frs.data.length <= 0) ? 'none' : ''}"
          class="DialogAssignee pointer">Add {{(title === 'Task assignees') ? 'assignees' : 'entities'}}</span>
  </div>
  <!--<div *ngIf="isFRs">filter test</div>-->
  <div *ngIf="frService?.frs?.data?.length === 0" class="DialogNotElement">
    No {{title}}
  </div>

    <!--Add entities by clicking on the “Add entities” button.-->

  <div *ngIf="frs?.length === 0" class="DialogNotElement">
    Add {{title}} by clicking on the “Add {{(title === 'Task assignees') ? 'assignees' : 'entities'}}” button.
  </div>
  <div class="tableScroll scroll">
    <table *ngIf="frService?.frs?.data?.length > 0 && frs.length > 0 "
           [dataSource]="frs" class="mat-elevation-z8" mat-table matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="ID">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>ID</th>
        <td *matCellDef="let row" mat-cell>{{row.modeDefine?.tableData?.id?.data}}</td>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="Type">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Type</th>
        <td *matCellDef="let row" mat-cell>{{row.type}}</td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="Status">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Status</th>
        <td *matCellDef="let row" mat-cell>{{row.modeDefine?.tableData?.status?.data}}</td>
      </ng-container>

      <!--Delete Row-->
      <ng-container matColumnDef="actionsColumn">
        <th *matHeaderCellDef mat-header-cell>

        </th>
        <td *matCellDef="let row; let i = index;" mat-cell>
          <button (click)="removeAt(row)" class='DialogButtonX'>
            <!--<mat-icon>clear</mat-icon>-->
            X
          </button>
        </td>
      </ng-container>


      <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
      <tr (click)="selectRow(row)" *matRowDef="let row; columns: displayedColumns; "
          class="example-element-row"
          mat-row>
      </tr>
    </table>
  </div>
</div>
