<div>
  <!--Header-->
  <div class="HeaderLeftPanel">
    <div class="LeftSideSearchButton">
      <mat-icon>search</mat-icon>
      <input matInput (keyup)="getFilter($event)" #inputSearch>
      <button (click)="clearPanel()"
              disableRipple="true"
              mat-icon-button>x
      </button>
    </div>
  </div>

  <div class="HeaderRightPanel">
<!--    <div class="RightSideButtonLinked" (click)="onCreateNewReport()">Create New Report</div>-->
  </div>
  <!--Table-->
  <div class="LinkedTable">
    <app-task-assignees-table></app-task-assignees-table>
  </div>
</div>

