@import "../../../../../styles/dialogs";

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 5px 5px 10px 15px;

  ::ng-deep.mat-radio-label {
    align-items: start !important;
  }

.example-radio-button {
  margin: 5px;
}

.LocationGrid{
  display: grid;
  grid-template-columns: 40% 40%;
}
  .LocationAddress{
    width: 80%;
  }
}


.CommentsGrid{
  display: grid;
  grid-template-columns: auto auto auto;
}
.CommentsGrid1{
  grid-row: 1;
  grid-column: 1;
}
.CommentsGrid2{
  grid-row: 1;
  grid-column: 2;
}
.CommentsGrid3{
  grid-row: 1;
  grid-column: 3;
}
.CommentsGrid4{
  grid-row: 2;
  grid-column: 2/ 3;
}

