@import "../../../../../../styles/colors";
@import "../../../../../../styles/table";
@import "../../../../../../styles/comments";



.example-element-mission-description {
  grid-column: 1;
  grid-row: 1;

  .mat-expansion-panel-header.mat-expanded {
    height: 40px;
  }
  .mat-expansion-panel-content {
    margin-bottom: 10px;
  }
}

.example-element-mission-info {
  grid-column: 2;
  grid-row: 1;
  margin-top: 7px;
  position: relative;
}

.example-element-mission-comments {
  grid-column: 3;
  margin-top: 13px;
}

.example-element-detail-mission {
  overflow: hidden;
  display: grid;
  gap: 2%;
}

.textUI:first-child {
  margin-top: 0.5em;
}
.textUI {
  span:first-child {
    font-weight: 600;
    margin: 5px 0px 5px 5px;
  }
  span:last-child {
    margin: 5px;
  }
}

