<div>
  <!--Header-->
  <div class="HeaderLeftPanel">
    <div class="LeftSideSearchButton">
      <mat-icon>search</mat-icon>
      <input (keyup)="getFilter($event)" matInput type="text">
    </div>
  </div>

  <div class="HeaderRightPanel" *ngIf="applicationService.panelIcon === LEFT_PANEL_ICON.expand">
<!--    <div (click)="onArchiveTask()"-->
<!--         *ngIf="applicationService.selectedTasks.length > 0"-->
<!--         class="RightSideButton pointer">Archive-->
<!--    </div>-->


    <button mat-button *ngIf="applicationService.selectedTasks.length === 1"
            [matMenuTriggerFor]="menu" class="RightSideButton">Update status</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="applicationService.selectedTasks[0]?.modeDefine?.data?.actionOptions[TASK_ACTION.cancel]" (click)="onTaskAction(TASK_ACTION.cancel)">
        <span class="material-icons" [ngStyle]="{'color': '#6f30a0', 'font-size': '12px'}">stop_circle</span>
        Canceled
      </button>
      <button mat-menu-item *ngIf="applicationService.selectedTasks[0]?.modeDefine?.data?.actionOptions[TASK_ACTION.complete]" (click)="onTaskAction(TASK_ACTION.complete)">
        <span class="material-icons" [ngStyle]="{'color': '#92d150', 'font-size': '12px'}">stop_circle</span>
        Completed
      </button>
    </mat-menu>


    <div (click)="onEditTask()"
         *ngIf="applicationService.selectedTasks.length === 1"
         class="RightSideButton pointer">Edit
    </div>
    <div (click)="onDeleteTask()"
         *ngIf="applicationService.selectedTasks.length > 0"
         class="RightSideButton pointer">Delete
    </div>
    <div (click)="onCreateNewTask()"
         class="RightSideButton pointer">Create New Task
    </div>
  </div>
  <div class="HeaderRightPanel" *ngIf="applicationService.panelIcon === LEFT_PANEL_ICON.collapse"></div>
  <!--Table-->
  <div>
    <app-tasks-mission-table></app-tasks-mission-table>
  </div>
</div>

