@import "../../../styles/dialogs";

.airVehicleImageContainer {
  background: $gray;
  border-radius: 7px;
  margin: 4px;
  padding: 7px;

  img {
    width: 73px;
  }
}

.SelectedImageAV {
  border: 2px solid $black;
}

.imageDivContainer {
  display: inline-block;
  text-align: center;
  font-size: $fontSizeText13;
}

.DialogContentItem {
  margin: 0px 20px;

}
