<div *ngIf="contextMenuService?.isOpenBlob"
     [style.left]="contextMenuService?.singleTooltip?.left"
     [style.top]="contextMenuService?.singleTooltip?.top"
     (click)="onClick()"
     class="ContextSingleMenu">
  <!--Header-->
  <div class="ContextHeader" >
    <!--<span class="ContextHeaderTitle">This {{contextMenuService?.type}} is linked to</span>-->
    <!--<span class="ContextHeaderX" (click)="onNoClick()"> X-->
  <!--</span>-->
  </div>
  <!--Content-->
  <mat-dialog-content >
    Create Follow Entity mission
  </mat-dialog-content>
</div>

