@import '../../../../../styles/colors';
@import '../../../../../styles/variable';
@import '../../../../../styles/scrollbar';

.AirResourcesContainer{
  max-height: calc(40vh - #{$headerHeight} );
}

.gridAirResources {
  display: grid;
  grid-template-columns: 45% auto 25%;
  //grid-template-rows: 25px 20px 20px 20px 25px;
  padding: 10px 10px 2px 10px;
  font-size: $fontSizeText13;
  color: $black;
  border-radius: 8px;
  background: $lightGray;
  margin: 5px 5px;
  //border-radius: 15px;
}
.item1{
  grid-column: 1 / span 2;
  grid-row: 1;
  font-size: $fontSizeTitle15;
}
.item2{
  grid-column: 3;
  grid-row: 1;
  text-align: right;
  white-space: nowrap;

  mat-icon{
    cursor: pointer;
  }
}
.item3{
  grid-column: 1 / span 2;
  grid-row: 2;
  white-space: nowrap;
}
.item4{
  grid-column: 3;
  grid-row: 2;
  text-align: right;
  white-space: nowrap;
}
.item5{
  grid-column: 1;
  grid-row: 3;
  white-space: nowrap;
}
.item6{
  grid-column: 2;
  grid-row: 3;
  white-space: nowrap;
}
.item7{
  grid-column: 3;
  grid-row: 3;
  text-align: right;
  white-space: nowrap;
}
.item8{
  grid-column: 1/ span 3;
  grid-row: 4;
  border-top: 1px solid $gray;
}
.item9{
  grid-column: 1;
  grid-row: 5;
  white-space: nowrap;
}
.item10{
  grid-column: 2;
  grid-row: 5;
  white-space: nowrap;
}
.item11{
  grid-column: 3;
  grid-row: 5;
  text-align: right;
}
.item12{
  grid-column: 1;
  grid-row: 6;
  white-space: nowrap;
}
.item13{
  grid-column: 3;
  grid-row: 6;
  text-align: right;
  white-space: nowrap;
}
.title {
  font-weight: bold;
}

.colorDiv {
  height: 4px;
  grid-row: 7;
  grid-column: 1 / span 3;
  border-radius: 5px;
}

.mat-menu-item {
  line-height: 30px;
  height: 30px;
}
.gpsIcon{
  height: 17px;
}
.iconStatus {
  font-size: $fontSizeText9;
}

.selectedAv {
  background-color: $gray;
}
