<mat-accordion>
  <div class="AirResourcesContainer scroll">
    <div *ngFor="let airVehicle of airVehicleService.airVehicles.data | sortByPriority: optionSelected">
      <div (click)="flyTo(airVehicle)"
           [ngStyle]="{ 'grid-template-rows': isOpenMenu[airVehicle.id] ? '29px 25px 25px 7px 25px 25px' : '29px 25px 25px',
      'border-bottom': '5px solid' + airVehicle?.modeDefine?.styles?.statusColor}" class="gridAirResources">
        <!--title-->
        <div class="item1 title">{{airVehicle.name}}</div>
        <!--icons expend & 3 dotes-->
        <div class="item2">
          <mat-icon (click)="onCloseMenu($event, airVehicle.id)" *ngIf="isOpenMenu[airVehicle.id]">keyboard_arrow_up
          </mat-icon>
          <mat-icon (click)="onOpenMenu($event, airVehicle.id)" *ngIf="!isOpenMenu[airVehicle.id]">keyboard_arrow_down
          </mat-icon>
          <!-- 3 dotes-->
          <mat-icon (click)="$event.stopPropagation();" *ngIf="!this.applicationService.isDialogOpen"
                    [matMenuTriggerFor]="missionOptions"
                    [ngStyle]="{'cursor': 'pointer'}"
                    matRipple
          >more_vert
          </mat-icon>
          <mat-icon
            *ngIf="this.applicationService.isDialogOpen && (airVehicle.operationalStatus === OPERATIONAL_STATUS.Ready || airVehicle.operationalStatus === OPERATIONAL_STATUS.OnMission)"
            [ngStyle]="{'cursor': 'no-drop'}"
            matRipple>more_vert
          </mat-icon>
          <!--Menu mission Options-->
          <mat-menu #missionOptions="matMenu">
            <button (click)="onMissionOptions(MISSION_TYPE.CommRelay, airVehicle)"
                    *ngIf="airVehicle.modeDefine?.data?.missionOptions.CommRelay === true"
                    mat-menu-item>
              <span>Create comm mission</span>
            </button>
            <button (click)="onMissionOptions(MISSION_TYPE.Patrol, airVehicle)"
                    *ngIf="airVehicle.modeDefine?.data?.missionOptions.Patrol === true"
                    mat-menu-item>
              <span>Create patrol mission</span>
            </button>
            <button (click)="onMissionOptions(MISSION_TYPE.Observation, airVehicle)"
                    *ngIf="airVehicle.modeDefine?.data?.missionOptions.Observation === true"
                    mat-menu-item>
              <span>Create observation mission</span>
            </button>
            <button (click)="onMissionOptions(MISSION_TYPE.Scan, airVehicle)"
                    *ngIf="airVehicle.modeDefine?.data?.missionOptions.Scan === true"
                    mat-menu-item>
              <span>Create scan mission</span>
            </button>
            <button (click)="onMissionOptions(MISSION_TYPE.Delivery, airVehicle)"
                    *ngIf="airVehicle.modeDefine?.data?.missionOptions.Delivery === true"
                    mat-menu-item>
              <span>Cargo drop mission</span>
            </button>
            <button (click)="onMissionOptions(MISSION_TYPE.Servoing, airVehicle)"
                    *ngIf="airVehicle.modeDefine?.data?.missionOptions.Servoing === true"
                    mat-menu-item>
              <span>Follow an entity mission</span>
            </button>
            <button (click)="onViewLiveVideo(airVehicle)"
                    *ngIf="airVehicle.modeDefine?.data?.missionOptions.isViewLiveVideo === true"
                    mat-menu-item>
              <span>View live video</span>
            </button>
          </mat-menu>
        </div>
        <!--mission-->
        <div class="item3">
          <span class="title">Mission: &nbsp;</span>
          <span (click)="onClickMission(airVehicle, $event)" *ngIf="airVehicle.modeDefine?.data?.missionName"
                class="underline pointer">{{airVehicle.modeDefine?.data?.missionName}}</span>
        </div>
        <!--status-->
        <div class="item4">
        <span [ngStyle]="{'color': airVehicle.modeDefine?.styles?.statusColor}"
              class="material-icons iconStatus">fiber_manual_record
        </span>{{getSeparateString(airVehicle.operationalStatus)}}
        </div>
        <!--TTL-->
        <div class="item5">
          <span class="title">TTL: </span> {{airVehicle.remainingTimeFlight}}
        </div>
        <!--Alt-->
        <div class="item6">
          <span class="title">Alt: </span> {{airVehicle.altitudeAGL | number: '1.0-2'}}
        </div>
        <!--Speed-->
        <div class="item7">
          <span class="title">Speed: </span> {{airVehicle.velocity | number: '1.0-0'}} m/s
        </div>
        <div *ngIf="isOpenMenu[airVehicle.id]" class="item8"></div>
        <!--------------------- Expend Panel ----------------->
        <!--Alt ASL-->
        <div *ngIf="isOpenMenu[airVehicle.id]" class="item9">
          <span class="title">Alt ASL: </span> {{airVehicle.altitudeAsl | number: '1.0-2'}}
        </div>
        <!--Energy-->
        <div *ngIf="isOpenMenu[airVehicle.id]" class="item10">
          <span class="title">Energy: </span> {{airVehicle.energyLevel}}
        </div>
        <!--GPS-->
        <div *ngIf="isOpenMenu[airVehicle.id]" class="item11">
          <img [matTooltip]="airVehicle?.modeDefine?.styles?.gpsDescription"
               [src]="airVehicle?.modeDefine?.styles?.gpsIcon" alt="gps"
               class="gpsIcon">
        </div>
        <!--Azimuth-->
        <div *ngIf="isOpenMenu[airVehicle.id]" class="item12">
          <span class="title">Azimuth: </span> {{airVehicle.heading | number: '1.0-2'}}°
        </div>
        <!--&lt;!&ndash;Status line&ndash;&gt;-->
        <!--<div class="colorDiv" [ngStyle]="{'background-color': airVehicle?.modeDefine?.styles?.statusColor}"></div>-->

      </div>
    </div>
  </div>
</mat-accordion>

