@import "../../../../styles/colors";
@import "../../../../styles/variable";


.RightSideButton {
  //margin: auto 5px;
  text-align: center;
  height: $headerHeight;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $fontSizeTitleHeader17;
}

.buttonX{
  position: fixed;
  color: $black;
  margin: 5px 0 0 146px;
}

// Search Bar =======================================================
::ng-deep.mat-optgroup-label{
  font-weight: bold;
  font-size: $fontSizeVideoText16;
}
::ng-deep.mat-optgroup-label {
  color: $black;
}

::ng-deep .mat-form-field {
  display: block !important;
  background: $white;
  border-radius: 5px;
}

::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.25em 0 0.5em 0 !important;
}

::ng-deep.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0.5em 0 !important;
}

::ng-deep.mat-form-field-wrapper {
  padding-bottom: 0em !important;
}
::ng-deep.cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
  color: black;
}
::ng-deep.mat-optgroup.sticky{
  label{
    position: sticky;
    z-index: 1; // appear above mat-option
    top: 0; // fix at the top
    background-color: white; // don't see mat-option when scrolling
    box-shadow: 1px -2px 10px 0px grey; // shadow at the bottom
  }
}
