@import "../../../../styles/colors";
@import "../../../../styles/variable";
@import "../../../../styles/resizes";


.RightSideSearchButton {
  //margin: auto 5px;
  text-align: center;
  height: $headerHeight;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $fontSizeTitleHeader17;

  //.buttonX{
  //  position: fixed;
  //  color: $black;
  //  margin: 0px 0 0 90px;
  //  //margin: 0px 0 0 70px;
  //}
}

//.HPRightSideIcon{
//  width: $iconSize;
//  font-size: $iconSize;
//  cursor: pointer;
//}


