<mat-accordion>
  <mat-expansion-panel (closed)="onClosePanel()"
                       (opened)="onOpenPanel()"
                       [disabled]="(description === '' || description === undefined)"
                       [expanded]="description !== '' && description !== undefined"
                       [hideToggle]="(description === '' || description === undefined)">
    <mat-expansion-panel-header [expandedHeight]="'30px'">
      <div class="expendTitle">
        Description
      </div>
    </mat-expansion-panel-header>
    <div class="description-content scroll">{{description}}</div>
  </mat-expansion-panel>
</mat-accordion>
<!--[expanded]="openPanel()"-->
