@import "../../../../styles/dialogs";

.tableScroll {
  max-height: 215px;
  overflow: auto;
  margin-top: 15px;
}

.LinkedReportsTable{

  ::ng-deep.mat-elevation-z8 {
    box-shadow: none !important;
    width: 100% !important;
  }
  ::ng-deep tr.mat-header-row {
    height: 30px !important;
    background-color: $lightGray;
  }
}
.LinkedHeader{
  margin-top: 15px;
}

.DialogLink{
  float: right;
  border-bottom: 1px solid $black;
  font-size: 14px;
  right: 50px;
  color: $black;
}


th.mat-sort-header-sorted {
  color: black;
}
.disabled{
  color: $lightGray;
}
.Description {
  max-width:5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 5px;
}
.mat-column-Description{
  max-width: 10em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 5px;
}
