@import "../../../../styles/dialogs";

.tableScroll {
  max-height: 190px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 10px;
}

.LinkedReportsTable{

  ::ng-deep.mat-elevation-z8 {
    box-shadow: none !important;
    width: 100% !important;
  }
  ::ng-deep tr.mat-header-row {
    height: 30px !important;
    background-color: $lightGray;
  }
}
.LinkedHeader{
  margin-top: 13px;
}

.DialogLink{
  float: right;
  border-bottom: 1px solid $black;
  right: 50px;
  color: $black;
}


th.mat-sort-header-sorted {
  color: black;
}
.disabled{
  color: $lightGray;
}


