<!-- width more then 1200px-------------------------------------------------------------------------------------------->
<div *ngIf="screenWidth > 1200" class="frContainer scroll">
  <div (click)="onSelect(fr)"
       *ngFor="let fr of frService.frs.data | sortByPriority: optionSelected "
       [ngClass]="{'selectedFr': frService.selectedElement?.id === fr.id}"
       class="gridResourcesRegular">
    <!--icon resource-->
    <div class="item1">
      <img [src]="fr.modeDefine?.styles?.icon" class='icon'>
    </div>
    <!--title-->
    <div class="item2 ">{{fr.callSign}}</div>
    <!--icon 3 dotes-->
    <div class="item3">
      <!-- 3 dotes-->
      <mat-icon (click)="$event.stopPropagation();" *ngIf="!this.applicationService.isDialogOpen"
                [matMenuTriggerFor]="sendMenu"
                [ngStyle]="{'cursor': 'pointer'}"
                matRipple
      >more_vert
      </mat-icon>
      <mat-icon *ngIf="this.applicationService.isDialogOpen" [ngStyle]="{'cursor': 'no-drop'}" matRipple>more_vert
      </mat-icon>
      <!-- Send Menu -->
      <mat-menu #sendMenu="matMenu">
        <button (click)="onSendMenu('task', fr)" mat-menu-item>
          <span>Send a task</span>
        </button>
        <button (click)="onSendMenu('message', fr)" mat-menu-item>
          <span>Send a message</span>
        </button>
      </mat-menu>
    </div>
    <!--type-->
    <div class="item4">{{fr.type}}</div>
    <!--last update-->
    <div class="item5">{{fr.lastUpdated?.timestamp | lastSeenDate: applicationService.now}}</div>
    <!--status-->
    <div class="item6">
    <span [ngStyle]="{'color': fr.modeDefine?.styles?.dotColor}"
          class="material-icons iconStatus">fiber_manual_record</span>
      {{fr.online ? 'Online' : 'Offline'}}
    </div>
  </div>
</div>

<!-- width less then 1200px-------------------------------------------------------------------------------------------->
<div class="frContainer scroll" *ngIf="screenWidth <= 1200">
  <div class="gridResourcesMiddle">
    <div *ngFor="let fr of frService.frs.data | sortByPriority: optionSelected "
         (click)="onSelect(fr)"
         (contextmenu)="onRightClick($event, fr.id)"
         [ngClass]="{'selectedFr': frService.selectedElement?.id === fr.id}">
      <div style="visibility: hidden; position: fixed;"
           [style.left]="menuTopLeftPosition.x"
           [style.top]="menuTopLeftPosition.y"
           [matMenuTriggerFor]="sendMenu"></div>
      <!--icon resource-->
      <div class="item1">
        <img [src]="fr.modeDefine?.styles?.icon" class='icon'>
      </div>
      <!--title-->
      <div class="item2" [matTooltip]="(fr.online)? 'online': 'offline'">
      <span [ngStyle]="{'color': fr.modeDefine?.styles?.dotColor, 'vertical-align': 'middle'}"
            class="material-icons iconStatus">fiber_manual_record</span>
        {{fr.callSign}}</div>
      <!-- Send Menu -->
      <mat-menu #sendMenu="matMenu" [hasBackdrop]="false">
        <button (click)="onSendMenu('task', fr)" mat-menu-item>
          <span>Send a task</span>
        </button>
        <button (click)="onSendMenu('message', fr)" mat-menu-item>
          <span>Send a message</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>

