<div>
  <div class="CommentTitle" *ngIf="isShowTitle">Comments</div>
  <div class="CommentContainer scroll"
       [ngClass]="{'CommentDescriptionOpen' : isOpenDescription,
                   'CommentDescriptionClose' : !isOpenDescription}">
    <!--List comments-->
    <mat-list-item *ngFor="let comment of comments">
      <div class="CommentsGrid" mat-line>
        <mat-icon class="CommentsGrid1" mat-list-icon>account_circle</mat-icon>
        <div class="CommentsGrid2"> {{comment.source}} {{name}}</div>
        <div class="CommentsGrid3">{{comment.time | customDate: comment.time}}</div>
        <div class="CommentsGrid4"> {{comment.text}}</div>
      </div>
    </mat-list-item>
  </div>
  <!-- Input Comment-->
  <div>
    <div class="CommentSendGrid3">
      <div class="CommentIconContainerCircle">
        <mat-icon class="CommentIcon">account_circle</mat-icon>
      </div>
      <mat-form-field appearance="outline" class="">
        <label>
          <input [(ngModel)]="comment" class="CommentInput" matInput
                 placeholder="Add your comment..."
                 type="text">
          <button class="CommentIcon CommentIconInner" mat-icon-button [matMenuTriggerFor]="emoji" aria-label="emoji">
            <!--<mat-icon>sentiment_satisfied_alt</mat-icon>-->
            <img src="../../../assets/sentiment_satisfied_alt.png">
          </button>
          <!--<mat-icon  (click)="openEmoji = !openEmoji;">sentiment_satisfied_alt</mat-icon>-->
        </label>
      </mat-form-field>
      <div class="CommentIconContainerArrow pointer"
           (click)="onSendComment()"
      >
        <mat-icon [ngStyle]="{'color': (comment === '' || comment === undefined) ? 'lightgray' : 'black' }"
                  class="CommentIcon">send
        </mat-icon>
      </div>
    </div>
  </div>



</div>
<mat-menu #emoji="matMenu">
  <!--<div *ngIf="openEmoji">-->
    <emoji-mart
      (emojiClick)="addEmoji($event)"
      set="apple"
      sheetSize="32"
      showPreview="{{false}}"
      enableSearch="{{false}}"
    ></emoji-mart>
  <!--</div>-->
</mat-menu>
