<div class="DialogContainer">
  <!--Header-->
  <div class="DialogHeader" mat-dialog-title>
    <span class="DialogHeaderTitle">{{data.title}}</span>
    <span class="DialogHeaderX">
      <button (click)="onNoClick()" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </span>
  </div>
  <!--&lt;!&ndash;Content&ndash;&gt; flut-->
  <div class="DialogContentItem">
    <mat-accordion displayMode="default" multi>
      <!-- Select mission type -->
      <mat-expansion-panel #missionsType expanded="true" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="DialogTitle">
            Mission type
          </mat-panel-title>
          <mat-panel-description class="">
            {{MISSION_TYPE_TEXT[missionModel?.missionType]}}
          </mat-panel-description>
          <mat-icon>{{missionsType.expanded ? 'remove' : 'add'}}</mat-icon>
        </mat-expansion-panel-header>
        <div>
          <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group">
            <mat-radio-button (click)="onChooseMission(missionType)"
                              *ngFor="let missionType of missionTypes; let i = index"
                              [value]="missionType" class="example-radio-button">
              {{MISSION_TYPE_TEXT[missionType]}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <!--<mat-radio-button [value]="selectedMissionType" [checked]="true" class="example-radio-button">-->
        <!--{{selectedMissionType}}-->
        <!--</mat-radio-button>-->
      </mat-expansion-panel>
      <!-- Air resources -->
      <mat-expansion-panel #airResources [disabled]="missionModel?.missionType === undefined"
                           hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="DialogTitle">
            Air resources
          </mat-panel-title>
          <mat-panel-description class="">
            <div *ngFor="let airVehicle of selectedAirVehicles; let i = index;">
              {{airVehicle?.name}}{{i === selectedAirVehicles.length - 1 ? '' : ', &nbsp;'}}
            </div>
          </mat-panel-description>
          <mat-icon>{{airResources.expanded ? 'remove' : 'add'}}</mat-icon>
        </mat-expansion-panel-header>
        <div *ngFor="let airVehicle of airVehicleService.airVehicles.data; let i = index;" class="imageDivContainer">
          <div (click)="onChooseAirVehicle(airVehicle)"
               [ngClass]="{'SelectedImageAV': getSelectedAV(airVehicle?.id)}"
               class="airVehicleImageContainer">
            <img [src]="'../../../../../assets/helicopter.png'">
          </div>
          {{airVehicle.name}}
        </div>
      </mat-expansion-panel>
      <!-- Location -->
      <mat-expansion-panel #location *ngIf="missionModel?.missionType !== MISSION_TYPE.CommRelay"
                           [disabled]="selectedAirVehicles?.length <= 0"
                           hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="DialogTitle">
            Location
          </mat-panel-title>
          <mat-icon>{{location.expanded ? 'remove' : 'add'}}</mat-icon>
        </mat-expansion-panel-header>

        <div>
          <div *ngIf="selectedMissionType === MISSION_TYPE.Observation">
            <small>Choose location point from the map or write Lat/Long</small>
            <div class="DialogGrid22">
              <!--Lat-->
              <mat-form-field appearance="outline" class="">
                <label>
                  <input (change)="locationChanged($event, 'latitude')"
                         (click)="$event.stopPropagation()"
                         (keyup)="locationChanged($event, 'latitude')"
                         [(ngModel)]="location.lat"
                         class="Label"
                         matInput
                         min="0"
                         placeholder="Lat"
                         type="number">
                </label>
              </mat-form-field>
              <!--Long-->
              <mat-form-field appearance="outline" class="">
                <label>
                  <input (change)="locationChanged($event, 'longitude')"
                         (click)="$event.stopPropagation()"
                         (keyup)="locationChanged($event, 'longitude')"
                         [(ngModel)]="location.lon"
                         class="Label"
                         matInput
                         min="0"
                         placeholder="Long"
                         type="number">
                </label>
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
      <!--Communication Type-->
      <mat-expansion-panel #commType *ngIf="missionModel?.missionType === MISSION_TYPE.CommRelay"
                           [disabled]="selectedAirVehicles?.length <= 0"
                           hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="DialogTitle">
            Communication Type
          </mat-panel-title>
          <mat-panel-description class="">
            {{missionModel?.communicationType}}
          </mat-panel-description>
          <mat-icon>{{commType.expanded ? 'remove' : 'add'}}</mat-icon>
        </mat-expansion-panel-header>
        <div>
          <mat-form-field appearance="outline" class="SPMatFormField">
            <mat-select [(ngModel)]="missionModel.communicationType">
              <mat-option *ngFor="let type of COMM_RELAY_TYPE_TEXT" [value]="type">
                {{type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
      <!-- Communication Argument -->
      <mat-expansion-panel #commArg *ngIf="missionModel?.missionType === MISSION_TYPE.CommRelay"
                           [disabled]="missionModel?.communicationType === undefined"
                           hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="DialogTitle">
            Communication Argument
          </mat-panel-title>
          <mat-icon>{{commArg.expanded ? 'remove' : 'add'}}</mat-icon>
        </mat-expansion-panel-header>

        <div>
          <div *ngIf="selectedMissionType === MISSION_TYPE.Observation">
            <small>Choose location point from the map or write Lat/Long</small>
            <div class="DialogGrid22">
              <!--Lat-->
              <mat-form-field appearance="outline" class="">
                <label>
                  <input (change)="locationChanged($event, 'latitude')"
                         (click)="$event.stopPropagation()"
                         (keyup)="locationChanged($event, 'latitude')"
                         [(ngModel)]="location.lat"
                         class="Label"
                         matInput
                         min="0"
                         placeholder="Lat"
                         type="number">
                </label>
              </mat-form-field>
              <!--Long-->
              <mat-form-field appearance="outline" class="">
                <label>
                  <input (change)="locationChanged($event, 'longitude')"
                         (click)="$event.stopPropagation()"
                         (keyup)="locationChanged($event, 'longitude')"
                         [(ngModel)]="location.lon"
                         class="Label"
                         matInput
                         min="0"
                         placeholder="Long"
                         type="number">
                </label>
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
      <!-- Mission details -->
      <mat-expansion-panel #missionDetails [disabled]=""
                           hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="DialogTitle">
            Mission details
          </mat-panel-title>
          <mat-icon>{{missionDetails.expanded ? 'remove' : 'add'}}</mat-icon>
        </mat-expansion-panel-header>
        <div>
          <small>Set mission azimuth</small>
          <div class="viewingAngle">
            <!--Circle-->
            <div [ngStyle]="{'transform': 'rotate(' + missionModel?.missionDetails?.azimuth + 'deg)'}" class="VNCircle">
              <div class="line"></div>
              <div class="arrow"></div>
            </div>
            <!--Slider-->
            <div class="VNSlider">
              <div class="slider1">N</div>
              <div class="slider2"><input [(ngModel)]="missionModel.missionDetails.azimuth" class="sliderViewNow" max="360" min="0" step="1"
                                          type="range"></div>
              <div class="slider3">N</div>
              <div class="slider4">E</div>
              <div class="slider5">S</div>
              <div class="slider6">W</div>
            </div>
            {{missionModel?.missionDetails?.azimuth}}°
          </div>
          <small>Define distance of flying from the Observation point</small>
          <div>
            <mat-form-field appearance="outline" class="">
              <label>
                <input (click)="$event.stopPropagation()"
                       [(ngModel)]="missionModel.missionDetails.distance"
                       class="Label"
                       matInput
                       min="0"
                       placeholder="20m"
                       type="number">
              </label>
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>
      <!--Description-->
      <mat-expansion-panel #descriptions hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="DialogTitle">
            Description
          </mat-panel-title>
          <mat-icon>{{descriptions.expanded ? 'remove' : 'add'}}</mat-icon>
        </mat-expansion-panel-header>
        <div>
          <mat-form-field appearance="outline" class="SPMatFormField">
            <label>
            <textarea [(ngModel)]="missionModel.description" [ngStyle]="{'resize': 'none'}"
                      class="Label"
                      matInput placeholder="Add your description..."
                      rows="3"></textarea>
            </label>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
      <!--Comments-->
      <mat-expansion-panel #comment hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="DialogTitle">
            Comments
            <!--<div *ngIf="!comment.expanded">Comments</div>-->
          </mat-panel-title>
          <mat-icon>{{comment.expanded ? 'remove' : 'add'}}</mat-icon>
        </mat-expansion-panel-header>
        <div>
          <app-comments-panel (changeComments)="onChangeComments($event)"
                              [comments]="missionModel?.comments"
                              [isOpenDescription]="true"></app-comments-panel>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <!--Action-->
  <div class="DialogActions" mat-dialog-actions>
    <button (click)="onNoClick()" class="DialogActionsDelete"
            mat-raised-button>Cancel
    </button>
    <button (click)="onCreateClick()"
            class="DialogActionsCreate"
            mat-raised-button>
      {{data.title}}
    </button>
  </div>
</div>



