<div class="DialogContainer">
  <!--Header-->
  <div class="DialogHeader" mat-dialog-title>
    <span class="DialogHeaderTitle">{{data.title}}</span>
    <span class="DialogHeaderX">
      <button (click)="onNoClick()" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </span>
  </div>
  <!--Content 'flut'-->
  <div class="DialogContentItem scroll">
    <mat-accordion class="example-headers-align" displayMode="default" multi>
      <!-- Select mission type -->
      <mat-expansion-panel #missionsType (opened)="onClickMissionType(0)" [expanded]="step === 0" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="DialogTitle">
            Mission type
          </mat-panel-title>
          <mat-panel-description *ngIf="!missionsType.expanded" class="">
            {{MISSION_TYPE_TEXT[missionModel?.missionType]}}
          </mat-panel-description>
          <mat-icon>{{missionsType.expanded ? 'remove' : 'add'}}</mat-icon>
        </mat-expansion-panel-header>
        <div>
          <mat-radio-group
            [(ngModel)]="missionModel.missionType" aria-labelledby="example-radio-group-label"
            class="example-radio-group">
            <mat-radio-button (click)="onChooseMission(missionType)"
                              *ngFor="let missionType of missionTypes; let i = index"
                              [value]="missionType" class="example-radio-button">
              {{MISSION_TYPE_TEXT[missionType]}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <mat-action-row>
          <button (click)="nextStep(MISSION_FIELDS.missionType)" [disabled]="missionModel?.missionType === undefined"
                  mat-raised-button>Next
          </button>
        </mat-action-row>
      </mat-expansion-panel>
      <!-- Air resources -->
      <mat-expansion-panel #airResources (opened)="setStep(1)" [disabled]="isDisabledFields.airResources"
                           [expanded]="step === 1"
                           hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="DialogTitle">
            Air resources
          </mat-panel-title>
          <mat-panel-description *ngIf="!airResources.expanded" class="">
            <div *ngFor="let airVehicle of selectedAirVehicles; let i = index;">
              {{airVehicle?.name}}{{i === selectedAirVehicles.length - 1 ? '' : ', &nbsp;'}}
            </div>
          </mat-panel-description>
          <mat-icon>{{airResources.expanded ? 'remove' : 'add'}}</mat-icon>
        </mat-expansion-panel-header>
        <div *ngIf="missionModel?.missionType === MISSION_TYPE.CommRelay">
          <span class="DialogSmallText">You can choose more then one</span>
        </div>
        <div *ngFor="let airVehicle of airVehicleService.airVehicles.data; let i = index;" class="imageDivContainer">
          <div *ngIf="airVehicle.modeDefine?.data?.missionOptions[missionModel?.missionType] && (airVehicle.operationalStatus === OPERATIONAL_STATUS.Ready || airVehicle.operationalStatus === OPERATIONAL_STATUS.OnMission)">
            <div (click)="onChooseAirVehicle(airVehicle)"
                 [ngClass]="{'SelectedImageAV': getSelectedAV(airVehicle?.id)}"
                 class="airVehicleImageContainer">
              <img [src]="'../../../../../assets/helicopter.png'">
            </div>
            {{airVehicle.name}}
          </div>
          <div *ngIf="!airVehicle.modeDefine?.data?.missionOptions[missionModel?.missionType] || !(airVehicle.operationalStatus === OPERATIONAL_STATUS.Ready || airVehicle.operationalStatus === OPERATIONAL_STATUS.OnMission)">
            <div (click)="onChooseAirVehicle(airVehicle)"
                 [ngStyle]="{'opacity': 0.3}"
                 [ngClass]="{'SelectedImageAV': getSelectedAV(airVehicle?.id)}"
                 class="airVehicleImageContainer">
              <img [src]="'../../../../../assets/helicopter.png'">
            </div>
            {{airVehicle.name}}
          </div>
        </div>
        <mat-action-row>
          <button (click)="nextStep(MISSION_FIELDS.airResources)" [disabled]="selectedAirVehicles?.length <= 0"
                  mat-raised-button>Next
          </button>
        </mat-action-row>
      </mat-expansion-panel>
      <!-- Location step2-->
      <mat-expansion-panel #location (opened)="onClickLocation(missionModel?.missionType)"
                           *ngIf="missionModel?.missionType !== MISSION_TYPE.CommRelay"
                           [disabled]="isDisabledFields.location"
                           [expanded]="step === 2"
                           hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="DialogTitle">
            Location
          </mat-panel-title>
          <!--for all locations-->
          <mat-panel-description *ngIf="applicationService?.stateDraw === STATE_DRAW.notDraw &&
           missionModel?.polygon?.length > 0 || missionModel?.polyline?.length > 0  && !location?.expanded">
            Location exists on map.
          </mat-panel-description>
          <!--for point location-->
          <mat-panel-description *ngIf="applicationService?.stateDraw === STATE_DRAW.notDraw && missionModel?.location?.lon !== undefined &&
           missionModel?.location?.lat !== undefined && !location?.expanded">
            long: {{missionModel?.location?.lon | number:'2.0-4'}},
            Lat: {{missionModel?.location?.lat | number:'2.0-4'}}
          </mat-panel-description>
          <!--for FRs locations-->
          <mat-panel-description *ngIf="applicationService?.stateDraw === STATE_DRAW.notDraw &&
           missionModel?.frs?.length > 0 && !location?.expanded">
            <div *ngFor="let fr of missionModel.frs; let i = index;">
              {{fr?.modeDefine?.tableData?.id?.data}}{{i === missionModel.frs.length - 1 ? '' : ', &nbsp;'}}
            </div>
          </mat-panel-description>
          <mat-icon>{{location.expanded ? 'remove' : 'add'}}</mat-icon>
        </mat-expansion-panel-header>
        <!--Point-->
        <div *ngIf="missionModel?.missionType === MISSION_TYPE.Observation" class="ExpansionBody">
          <!--if point not exist-->
          <div *ngIf="applicationService.stateDraw !== STATE_DRAW.notDraw ||
         ( missionModel?.location?.lon === undefined && missionModel?.location?.lat === undefined)">
            <span class="DialogSmallText">Click on map to set an observation point</span>
            <span class="DialogSmallText block">or</span>
            <span class="DialogSmallText block bold">Add Coordinates</span>
            <div class="DialogGrid22">
              <!--Lat-->
              <mat-form-field appearance="outline" class="">
                <label>
                  <input (change)="locationChanged($event)"
                         (click)="$event.stopPropagation()"
                         (keyup)="locationChanged($event)"
                         [(ngModel)]="missionModel.location.lat"
                         class="Label"
                         matInput
                         min="0"
                         placeholder="Lat"
                         type="number">
                </label>
              </mat-form-field>
              <!--Long-->
              <mat-form-field appearance="outline" class="">
                <label>
                  <input (change)="locationChanged($event)"
                         (click)="$event.stopPropagation()"
                         (keyup)="locationChanged($event)"
                         [(ngModel)]="missionModel.location.lon"
                         class="Label"
                         matInput
                         min="0"
                         placeholder="Long"
                         type="number">
                </label>
              </mat-form-field>
            </div>
          </div>
          <!--if point exist-->
          <div *ngIf="applicationService.stateDraw === STATE_DRAW.notDraw &&
           (missionModel?.location?.lon !== undefined && missionModel?.location?.lat !== undefined)">
            <span>Point exist on map</span>
            <span (click)="onEdit(MISSION_TYPE.Observation)"
                  class="DialogLink pointer">Change point
            </span>
            <span class="DialogSmallText">Click on the "Change point"
              button will delete the existing point in order to create a new one.
            </span>
          </div>
        </div>
        <!--Polyline-->
        <div *ngIf="missionModel?.missionType === MISSION_TYPE.Patrol" class="ExpansionBody">
          <div>
            <span class="DialogSmallText" *ngIf="missionModel?.polyline?.length <= 0">Click minimum 3 points on the map to set a path</span>

            <span *ngIf="missionModel?.polyline?.length > 0">Exist on the map</span>
            <span (click)="onEdit(MISSION_TYPE.Patrol)" *ngIf="missionModel?.polyline?.length > 0"
                  class="DialogLink pointer">Change polyline
            </span>
            <span class="DialogSmallText block" *ngIf="missionModel?.polyline?.length > 0">Click on the "Change polyline"
              button will delete the existing polyline in order to create a new one.
            </span>
          </div>
        </div>
        <!--Polygon-->
        <div *ngIf="missionModel?.missionType === MISSION_TYPE.Scan" class="ExpansionBody">
          <div>
            <span class="DialogSmallText" *ngIf="missionModel?.polygon?.length <= 0">Click minimum 3 points on the map to set a polygon</span>

            <span *ngIf="missionModel?.polygon?.length > 0">Exist on the map</span>
            <span (click)="onEdit(MISSION_TYPE.Scan)" *ngIf="missionModel?.polygon?.length > 0"
                  class="DialogLink pointer">Change polygon
            </span>
            <span class="DialogSmallText block" *ngIf="missionModel?.polygon?.length > 0">Click on the "Change polygon"
              button will delete the existing polygon in order to create a new one.
            </span>
          </div>
        </div>
        <!--FR Table-->
        <div *ngIf="missionModel?.missionType === MISSION_TYPE.Servoing && !data?.idBlob">
          <span (click)="onChooseFromCamera(selectedAirVehicles)"
                class="MissionLink pointer">Choose from camera</span>
          <div>
            <span class="DialogSmallText block bold">or</span>
          </div>
          <div>
            <span class="DialogSmallText">Choose FR to follow by clicking on the "Add entity" button.</span>
          </div>
          <div class="MissionEntitiesContainer">
            <app-task-assignee-table (updateAssignees)="onUpdateFRs($event)" [frs]="missionModel.frs"
                                     [ids]="missionModel.frIds"
                                     [title]="'Mission entities'"></app-task-assignee-table>
          </div>
        </div>
        <!--idBlob-->
        <div *ngIf="missionModel?.missionType === MISSION_TYPE.Servoing && data?.idBlob">
          Blob id: {{data?.idBlob}}
        </div>
        <mat-action-row>
          <button (click)="nextStep(MISSION_FIELDS.location)"
                  [disabled]="checkIfSelectedLocation(missionModel?.missionType)"
                  mat-raised-button>Next
          </button>
        </mat-action-row>
      </mat-expansion-panel>
      <!--Communication Type step2-->
      <mat-expansion-panel #commType (opened)="setStep(2)" *ngIf="missionModel?.missionType === MISSION_TYPE.CommRelay"
                           [disabled]="isDisabledFields.commType"
                           [expanded]="step === 2"
                           hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="DialogTitle">
            Communication Type
          </mat-panel-title>
          <mat-panel-description *ngIf="!commType?.expanded" class="">
            {{missionModel?.communicationType}}
          </mat-panel-description>
          <mat-icon>{{commType.expanded ? 'remove' : 'add'}}</mat-icon>
        </mat-expansion-panel-header>
        <div>
          <mat-form-field appearance="outline" class="SPMatFormField">
            <mat-select [(ngModel)]="missionModel.communicationType" [placeholder]="'Fixed/Area/Follow'" (ngModelChange)="onChangeCommunicationType($event)">
              <mat-option *ngFor="let type of commRelayTypes" [value]="type">
                {{COMM_RELAY_TYPE_TEXT[type]}}
              </mat-option>
            </mat-select>

          </mat-form-field>
        </div>
        <mat-action-row>
          <button (click)="nextStep(MISSION_FIELDS.commType)" [disabled]="missionModel?.communicationType === undefined"
                  mat-raised-button>Next
          </button>
        </mat-action-row>
      </mat-expansion-panel>
      <!--Communication Argument -->
      <mat-expansion-panel #commArg (opened)="onClickCommunicationArg(missionModel?.communicationType)"
                           *ngIf="missionModel?.missionType === MISSION_TYPE.CommRelay"
                           [disabled]="isDisabledFields.commArg"
                           [expanded]="step === 3"
                           hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="DialogTitle">
            Communication Argument
          </mat-panel-title>
          <!--for polygon locations-->
          <mat-panel-description *ngIf="applicationService?.stateDraw === STATE_DRAW.notDraw &&
           missionModel?.polygon?.length > 0 && !commArg?.expanded">
            Communication Argument exist on map.
          </mat-panel-description>
          <!--for point location-->
          <mat-panel-description *ngIf="applicationService?.stateDraw === STATE_DRAW.notDraw && missionModel?.location?.lon !== undefined &&
           missionModel?.location?.lat !== undefined  && !commArg?.expanded">
            long: {{missionModel?.location?.lon | number:'1.0-4'}},
            Lat: {{missionModel?.location?.lat | number:'1.0-4'}}
          </mat-panel-description>
          <!--for FRs locations-->
          <mat-panel-description *ngIf="applicationService?.stateDraw === STATE_DRAW.notDraw &&
           missionModel?.frs?.length > 0 && !commArg?.expanded">
            <div *ngFor="let fr of missionModel.frs; let i = index;">
              {{fr?.modeDefine?.tableData?.id?.data}}{{i === missionModel.frs.length - 1 ? '' : ', &nbsp;'}}
            </div>
          </mat-panel-description>

          <mat-icon>{{commArg.expanded ? 'remove' : 'add'}}</mat-icon>
        </mat-expansion-panel-header>
        <!--Point-->
        <div *ngIf="missionModel?.communicationType === COMM_RELAY_TYPE.Fixed" class="ExpansionBody">
          <!--if point not exist-->
          <div *ngIf="applicationService.stateDraw !== STATE_DRAW.notDraw ||
         ( missionModel?.location?.lon === undefined && missionModel?.location?.lat === undefined)">
            <span class="DialogSmallText">Click on map to set an communication point</span>
            <span class="DialogSmallText block">or</span>
            <span class="DialogSmallText block bold">Add cordinates</span>
            <div class="DialogGrid22">
              <!--Lat-->
              <mat-form-field appearance="outline" class="">
                <label>
                  <input (change)="locationChanged($event)"
                         (click)="$event.stopPropagation()"
                         (keyup)="locationChanged($event)"
                         [(ngModel)]="missionModel.location.lat"
                         class="Label"
                         matInput
                         min="0"
                         placeholder="Lat"
                         type="number">
                </label>
              </mat-form-field>
              <!--Long-->
              <mat-form-field appearance="outline" class="">
                <label>
                  <input (change)="locationChanged($event)"
                         (click)="$event.stopPropagation()"
                         (keyup)="locationChanged($event)"
                         [(ngModel)]="missionModel.location.lon"
                         class="Label"
                         matInput
                         min="0"
                         placeholder="Long"
                         type="number">
                </label>
              </mat-form-field>
            </div>
          </div>
          <!--if point exist-->
          <div *ngIf="applicationService.stateDraw === STATE_DRAW.notDraw &&
           (missionModel?.location?.lon !== undefined && missionModel?.location?.lat !== undefined)">
            <span>Point exist on map</span>
            <span (click)="onEdit(MISSION_TYPE.Observation)"
                  class="DialogLink pointer">Change point
            </span>
            <span class="DialogSmallText block">Click on the "Change point"
              button will delete the existing point in order to create a new one.
            </span>
          </div>
        </div>
        <!--Polygon-->
        <div *ngIf="missionModel?.communicationType === COMM_RELAY_TYPE.Area" class="ExpansionBody">
          <div>
            <span class="DialogSmallText block" *ngIf="missionModel?.polygon?.length <= 0">Click minimum 3 points on the map to set a polygon</span>

            <span *ngIf="missionModel?.polygon?.length > 0">Exist on the map</span>
            <span (click)="onEdit(MISSION_TYPE.CommRelay, COMM_RELAY_TYPE.Area)"
                  *ngIf="missionModel?.polygon?.length > 0"
                  class="DialogLink pointer">Change polygon
            </span>
            <span class="DialogSmallText block" *ngIf="missionModel?.polygon?.length > 0">Click on the "Change polygon"
              button will delete the existing polygon in order to create a new one.
            </span>
          </div>
        </div>
        <!--FR Table-->
        <div *ngIf="missionModel?.communicationType === COMM_RELAY_TYPE.Follow">
          <span (click)="onChooseFromCamera(selectedAirVehicles)"
                class="MissionLink pointer">Choose from camera</span>
          <div>
            <span class="DialogSmallText block bold">or</span>
          </div>
          <div>
            <span class="DialogSmallText">Choose FR to follow by clicking on the "Add entity" button.</span>
          </div>
          <div class="MissionEntitiesContainer">
            <app-task-assignee-table (updateAssignees)="onUpdateFRs($event)"
                                     [frs]="missionModel?.frs"
                                     [ids]="missionModel?.frIds"
                                     [title]="'Mission entities'"></app-task-assignee-table>
          </div>
        </div>
        <mat-action-row>
          <button (click)="nextStep(MISSION_FIELDS.commArg)"
                  [disabled]="checkIfSelectedCommArgs(missionModel?.missionType)"
                  mat-raised-button>Next
          </button>
        </mat-action-row>
      </mat-expansion-panel>
      <!-- Mission details -->
      <mat-expansion-panel #missionDetails (opened)="setStep(3)"
                           *ngIf="missionModel?.missionType !== MISSION_TYPE.CommRelay"
                           [disabled]="isDisabledFields.missionDetails"
                           [expanded]="step === 3"
                           hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="DialogTitle">
            Mission details
          </mat-panel-title>
          <mat-panel-description *ngIf="!missionDetails?.expanded" class="">
            <span *ngIf="missionModel?.missionDetails?.azimuth >= 0 && missionModel?.missionDetails?.distance">Azimuth: {{missionModel?.missionDetails?.azimuth}}°, &nbsp;</span>
            <span *ngIf="missionModel?.missionDetails?.distance">Distance: {{missionModel?.missionDetails?.distance}}m</span>
            <span *ngIf="missionModel?.missionDetails?.scan?.speed">Speed: {{missionModel?.missionDetails?.scan?.speed}}, &nbsp;</span>
            <span
              *ngIf="missionModel?.missionDetails?.scan?.overlapPercent">Overlap: {{missionModel?.missionDetails?.scan?.overlapPercent}}%,
              &nbsp;</span>
            <span
              *ngIf="missionModel?.missionDetails?.scan?.cameraFov">Camera FOV: {{missionModel?.missionDetails?.scan?.cameraFov}}%</span>
          </mat-panel-description>
          <mat-icon>{{missionDetails.expanded ? 'remove' : 'add'}}</mat-icon>
        </mat-expansion-panel-header>
        <div>
          <!--Azimuth & Slider-->
          <span class="DialogSmallText bold">Set azimuth direction</span>
          <!--slider body or north-->
          <div>
            <span class="DialogSmallText" [ngStyle]="{'margin-right': '10px', 'font-weight': !slider?.checked? 'bold' : ''}">Body</span>
            <mat-slide-toggle #slider (change)="changeSlide($event)"></mat-slide-toggle>
            <span class="DialogSmallText" [ngStyle]="{'margin-left': '10px', 'font-weight': slider?.checked? 'bold' : ''}">North</span></div>
          <div class="viewingAngle">
            <div class="azimuthContainer">
              <!--Circle-->
              <div [ngStyle]="{'transform': 'rotate(' + missionModel?.missionDetails?.azimuth + 'deg)'}"
                   class="VNCircle">
                <div class="line"></div>
                <div class="arrow"></div>
              </div>
              <!--Lines-->
              <div class="VAPath">
                <div class="path1"></div>
                <div class="path2"></div>
                <div class="path3"></div>
                <div class="path4"></div>
                <div class="path5"></div>
                <div class="path6"></div>
              </div>
            </div>
            <!--Slider-->
            <div class="VNSlider">
              <div class="slider1">{{isBody ? 'N' : 0}}</div>
              <div class="slider2"><input [(ngModel)]="missionModel.missionDetails.azimuth" class="sliderViewNow"
                                          max="360" min="0" step="1"
                                          type="range"></div>
              <div class="slider3">{{isBody ? 'N' : '360°'}}</div>
              <div class="slider4" [ngStyle]="{'visibility' : !isBody ? 'hidden': ''}" >E</div>
              <div class="slider5" *ngIf="isBody">S</div>
              <div class="slider6" *ngIf="isBody">W</div>
            </div>
            {{missionModel?.missionDetails?.azimuth}}°
          </div>
          <!--Details-->
          <div *ngIf="missionModel?.missionType !== MISSION_TYPE.Scan" class="DetailsContainer">
            <span class="DialogSmallText bold"> {{(missionModel?.missionType === MISSION_TYPE.Patrol) ? 'Define distance of flying from polyline' : 'Altitude above ground of the observation point'}}
              <span *ngIf="missionModel.missionDetails.distance === null" class="Error">*</span></span>
            <div class="Grid3">
              <div class="item2">
                <mat-form-field appearance="outline" class="">
                  <label>
                    <input (click)="$event.stopPropagation()"
                           [(ngModel)]="missionModel.missionDetails.distance"
                           [required]="missionModel.missionDetails.distance === null"
                           class="Label"
                           matInput
                           min="0"
                           placeholder="0 m"
                           type="number">
                  </label>
                </mat-form-field>
              </div>
              <div class="item3">m</div>
            </div>
          </div>
          <div *ngIf="missionModel?.missionType === MISSION_TYPE.Patrol" class="DetailsContainer">
            <div class="ScanSelect">
              <!--<span class=SmallText>Yaw orientation</span>-->
              <!--<mat-form-field appearance="outline" class="SPMatFormField">-->
                <!--<mat-select [(ngModel)]="missionModel.missionDetails.yawOrientation"-->
                            <!--required>-->
                  <!--<mat-option *ngFor="let yawOrientation of yawOrientationTypes" [value]="yawOrientation">-->
                    <!--{{yawOrientation}}-->
                  <!--</mat-option>-->
                <!--</mat-select>-->
              <!--</mat-form-field>-->
            </div>
          </div>
          <div *ngIf="missionModel?.missionType === MISSION_TYPE.Scan" class="DetailsContainer">
            <div class="Grid2">
              <!-- Scan Speed-->
              <span class="DialogSmallText bold">Scan speed <span *ngIf="missionModel.missionDetails.scan.speed === undefined"
                                                             class="Error">*</span></span>
              <div class="ScanSelect">
                <mat-form-field appearance="outline" class="SPMatFormField">
                  <mat-select [(ngModel)]="missionModel.missionDetails.scan.speed" [placeholder]="'Choose flight speed'"
                              required>
                    <mat-option *ngFor="let speed of scanSpeed" [value]="speed">
                      {{speed}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <!--Overlap percent-->
              <span class="DialogSmallText bold">Overlap percent <span *ngIf="missionModel.missionDetails.scan.overlapPercent === null"
                                                                  class="Error">*</span></span>
              <div class="Grid3">
                <div class="item2">
                  <mat-form-field appearance="outline" class="">
                    <label>
                      <input (click)="$event.stopPropagation()"
                             [(ngModel)]="missionModel.missionDetails.scan.overlapPercent"
                             class="Label"
                             matInput
                             min="0"
                             placeholder="10"
                             required
                             type="number">
                    </label>
                  </mat-form-field>
                </div>
                <div class="item3">%</div>
              </div>
              <!--Camera FOV-->
              <span class="DialogSmallText bold">Camera FOV <span *ngIf="missionModel.missionDetails.scan.cameraFov === null"
                                                                  class="Error">*</span>
              </span>
              <div class="Grid3">
                <div class="item2">
                  <mat-form-field appearance="outline" class="">
                    <label>
                      <input (click)="$event.stopPropagation()"
                             [(ngModel)]="missionModel.missionDetails.scan.cameraFov"
                             class="Label"
                             matInput
                             min="0"
                             placeholder="0 %"
                             required
                             type="number">
                    </label>
                  </mat-form-field>
                </div>
                <div class="item3">%</div>
              </div>
            </div>
          </div>
          <div *ngIf="(missionModel?.missionType !== MISSION_TYPE.Scan && missionModel.missionDetails.distance === null) ||
                (missionModel?.missionType === MISSION_TYPE.Scan && missionModel.missionDetails.scan.speed === undefined ||
                 missionModel?.missionType === MISSION_TYPE.Scan && missionModel.missionDetails.scan.overlapPercent === null ||
                 missionModel?.missionType === MISSION_TYPE.Scan && missionModel.missionDetails.scan.cameraFov === null)">
            <mat-error>*Mandatory fields</mat-error>
          </div>
        </div>
        <mat-action-row>
          <button (click)="nextStep(MISSION_FIELDS.missionDetails)"
                  [disabled]="checkIfSelectedMissionDetails(missionModel.missionType)"
                  mat-raised-button>Next
          </button>
        </mat-action-row>
      </mat-expansion-panel>
      <!--Description-->
      <mat-expansion-panel #descriptions
                           (opened)="setStep(4)"
                           [disabled]="isDisabledFields.description"
                           [expanded]="step === 4"
                           hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="DialogTitle">
            Description
          </mat-panel-title>
          <!--<mat-panel-description class="" *ngIf="!descriptions?.expanded">-->
          <!--{{missionModel?.description}}-->
          <!--</mat-panel-description>-->
          <mat-icon>{{descriptions.expanded ? 'remove' : 'add'}}</mat-icon>
        </mat-expansion-panel-header>
        <div>
          <mat-form-field appearance="outline" class="">
            <label>
            <textarea [(ngModel)]="missionModel.description" [ngStyle]="{'resize': 'none'}"
                      class="Label"
                      matInput placeholder="Add your description..."
                      rows="3"></textarea>
            </label>
          </mat-form-field>
        </div>
        <mat-action-row>
          <button (click)="nextStep(MISSION_FIELDS.description)"
                  mat-raised-button>Next
          </button>
        </mat-action-row>
      </mat-expansion-panel>
      <!--Comments-->
      <mat-expansion-panel #comment
                           (opened)="setStep(5)"
                           [disabled]="isDisabledFields.comments"
                           [expanded]="step === 5"
                           hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="DialogTitle">
            Comments
          </mat-panel-title>
          <mat-icon>{{comment.expanded ? 'remove' : 'add'}}</mat-icon>
        </mat-expansion-panel-header>
        <div>
          <app-comments-panel (changeComments)="onChangeComments($event)"
                              [comments]="missionModel?.comments"
                              [isShowTitle]="false"></app-comments-panel>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <!--Action-->
  <div class="DialogActions" mat-dialog-actions>
    <button (click)="onNoClick()" class="DialogActionsDelete"
            mat-raised-button>Cancel
    </button>
    <button (click)="onCreateClick()"
            [disabled]="isDisabledFields.comments"
            class="DialogActionsCreate"
            mat-raised-button>
      {{data.title}}
    </button>
  </div>
</div>




