<div class="DialogContainer">
  <!--Header-->
  <div class="DialogHeader" mat-dialog-title>
    <span class="DialogHeaderTitle">{{data.title}}</span>
    <span class="DialogHeaderX">
      <button  mat-icon-button (click)="onNoClick()">
      <mat-icon>close</mat-icon>
    </button>
  </span>
  </div>
  <!--Content-->
  <div class="DialogContentItem">
    <!-- Select mission type -->
    <div>
      <div class="DialogTitle">Mission type</div>
      <div *ngIf="!selectedMissionType">
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group">
          <mat-radio-button (click)="onChooseMission(missionType)" *ngFor="let missionType of missionTypes; let i = index"
                            [value]="missionType" class="example-radio-button">
            {{MISSION_TYPE_TEXT[missionType]}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div *ngIf="selectedMissionType">
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group">
          <mat-radio-button [value]="selectedMissionType" [checked]="true" class="example-radio-button">
            {{selectedMissionType}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <hr>
    </div>
    <!-- Air resources -->
    <div>
      <div class="DialogTitle">Air resources</div>
      <div class="imageDivContainer" *ngFor="let airVehicle of airVehicleService.airVehicles.data">
        <div *ngIf="airVehicle.missionOptions[selectedMissionType]">
          <div class="airVehicleImageContainer" (click)="onChooseAirVehicle(airVehicle)">
            <img [src]="'../../../../../assets/helicopter.png'">
          </div>
          {{airVehicle.name}}
        </div>
      </div>
      <hr>
    </div>
    <!-- Location -->
    <div>
      <div class="DialogTitle">Location</div>
      <div *ngIf="selectedMissionType === MISSION_TYPE.observationMission">
        <small>Choose location point from the map or write Lat/Long</small>
        <div class="DialogGrid22">
          <!--Lat-->
          <mat-form-field appearance="outline" class="">
            <label>
              <input (click)="$event.stopPropagation()"
                     (change)="locationChanged($event, 'latitude')"
                     (keyup)="locationChanged($event, 'latitude')"
                     [(ngModel)]="location.alt"
                     class="Label"
                     matInput
                     min="0"
                     placeholder="Lat"
                     type="number">
            </label>
          </mat-form-field>
          <!--Long-->
          <mat-form-field appearance="outline" class="">
            <label>
              <input (click)="$event.stopPropagation()"
                     (change)="locationChanged($event, 'longitude')"
                     (keyup)="locationChanged($event, 'longitude')"
                     [(ngModel)]="location.lon"
                     class="Label"
                     matInput
                     min="0"
                     placeholder="Long"
                     type="number">
            </label>
          </mat-form-field>
        </div>
      </div>
      <hr>
    </div>
    <!-- Mission details -->
    <div>
      <div class="DialogTitle">Mission details</div>
      <div *ngIf="selectedMissionType === MISSION_TYPE.observationMission">
        <small>Set mission azimuth</small>
        <div class="viewingAngle">
          <!--Circle-->
          <div class="VNCircle" [ngStyle]="{'transform': 'rotate(' + viewingAngle + 'deg)'}">
            <div class="line"></div>
            <div class="arrow"></div>
          </div>
          <!--Slider-->
          <div class="VNSlider">
            <div class="slider1">N</div>
            <div class="slider2"><input type="range" class="sliderViewNow" max="360" min="0" step="1" [(ngModel)]="viewingAngle"></div>
            <div class="slider3">N</div>
            <div class="slider4">E</div>
            <div class="slider5">S</div>
            <div class="slider6">W</div>
          </div>
          {{viewingAngle}}°
        </div>
        <small>Define distance of flying from the observation point</small>
        <div>
          <mat-form-field appearance="outline" class="">
            <label>
              <input (click)="$event.stopPropagation()"
                     [(ngModel)]="viewingDistance"
                     class="Label"
                     matInput
                     min="0"
                     placeholder="Lat"
                     type="number">
            </label>
          </mat-form-field>
        </div>
      </div>
      <hr>
    </div>
    <!--Description-->
    <div>
      <div class="DialogTitle">Description</div>
      <mat-form-field appearance="outline" class="SPMatFormField">
        <label>
            <textarea [(ngModel)]="description" [ngStyle]="{'resize': 'none'}"
                      class="Label"
                      matInput placeholder="Add your description..."
                      rows="3"></textarea>
        </label>
      </mat-form-field>
      <hr>
    </div>
    <!--Comments-->
    <div>
      <app-comments-panel (changeComments)="onChangeComments($event)"
                          [comments]="comments"
                          [isOpenDescription]="true"></app-comments-panel>
    </div>
  </div>
  <!--Action-->
  <div class="DialogActions" mat-dialog-actions>
    <button (click)="onNoClick()" class="DialogActionsDelete"
            mat-raised-button>Cancel
    </button>
    <button (click)="onCreateClick()"
            class="DialogActionsCreate"
            mat-raised-button>
      {{data.title}}
    </button>
  </div>
</div>
