$black: rgba(0,0,0,0.9);
$blackOpacity: rgba(0,0,0,0.7);

$white: #ffffff;
$lightGray: #f2f2f2;
$gray: #d7d7d7;
$grayOpacity:  rgba($gray,0.7);
$darkGray: #7f7f7f;
$darkGrayOpacity:  rgba($darkGray,0.7);
$darkGrey: #606060;
$red: #ff0000;
$yellow: #ffc000;
$green: #92d050;
$violet: #8F43FF;
$blue: #3f51b5;
$lightBlue: #59b1f1;
$dividerColor: rgba(255, 255, 255, 0.5);


/*DroneList Colors*/
$Disabled: #a6a6a6;
$Enabled: #92d150;
$TakeOff: #e62ec4;
$Transport: #59b1f1;
$OnTask: #6f30a0;
$ReturnHome: #f1bf10;
$Landing: #c12524;
$SRV_CTRL: #485700;
$OB_CTRL: #2d026f;
$MSDK_CTRL: #0d0d0d;
