@import "./variable";

.CommentTitle {
  font-size: $fontSizeTitle14;
  color: $black;
  font-weight: 600;
  //margin: 16px 0px 0px 0px
}
.CommentContainer{
  //margin-top: 10px;

}
.CommentDescriptionOpen{
  max-height: 6.5em;
}
.CommentDescriptionClose{
  max-height: 9.7em;
}

.CommentsGrid{
  display: grid;
  grid-template-columns: 2em auto 3em;
  overflow: hidden;
  margin-top: 5px;
}
.CommentsGrid1{
  grid-row: 1;
  grid-column: 1;
  margin: auto 0;
}
.CommentsGrid2{
  grid-row: 1;
  grid-column: 2;
  margin: auto 5px;
}
.CommentsGrid3{
  grid-row: 1;
  grid-column: 3;
  margin: auto;
}
.CommentsGrid4{
  grid-row: 2;
  grid-column: 2/ span 2;
  margin: auto 5px;
  //width: 19em;
}

.CommentSendGrid3 {
  display: grid;
  grid-template-columns: 2em auto 2em;
  grid-template-rows: 49px;
  gap: 5px;

  ::ng-deep .mat-form-field {
    display: block !important;
  }

  ::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.25em 0 0.5em 0 !important;
  }

  ::ng-deep.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0.5em 0 !important;
  }

  ::ng-deep.mat-form-field-wrapper {
    padding-bottom: 0em !important;
  }
}

.CommentIconContainerCircle {
  margin: auto 0;
  text-align: left;
}
.CommentIconContainerArrow{
  margin: auto 0;
  text-align: right;
}
.CommentIconInner{
  position: absolute;
  right: 0;
  top: 0;
  margin: -2px 0 0px 0;
}
.CommentInput {
  line-height: 0px;
}
::ng-deep.mat-menu-panel {
  max-width: fit-content;
}
