@import "./colors";

.ConfirmContainer {

}

.ConfirmIcon {
  font-size: 55px;
}

.ConfirmContent {
  text-align: center;
}

.ConfirmButtons {
  display: block;
}

.ConfirmButtonCancel {
  background: $white;
  margin-left: 20px;
  width: 6em;
}

.ConfirmButtonDelete {
  background: $darkGray;
  color: $white;
  float: right;
  margin-right: 20px;
  width: 6em;
}
