@import "./colors";
@import "./variable";

.ConfirmContainer {
  padding: 20px !important;
}

::ng-deep.mat-dialog-container{
  padding: 0;
  overflow: hidden;
}

.ConfirmIcon {
  font-size: 55px;
  height: 50px;
  width: 50px;
}

.ConfirmContent {
  text-align: center;
  font-size: $fontSizeTitleHeader19;
}

.ConfirmButtons {
  display: block;
}

.ConfirmButtonCancel {
  background: $white;
  margin-left: 20px;
  width: 6em;
}

.ConfirmButtonDelete {
  background: $darkGray;
  color: $white;
  float: right;
  margin-right: 20px;
  width: 6em;
}
