@import '../styles/colors';
@import '../styles/variable';
@import '../styles/override';
@import '../styles/scrollbar';

::ng-deep.mat-dialog-container{
  padding: 0;
  overflow: hidden;
}

.DialogContainer {

 ::ng-deep.mat-dialog-title {
    margin: 0 0 5px;
   padding: 10px;
  }

  ::ng-deep .mat-form-field {
    display: block !important;
  }

  ::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.25em 0 0.5em 0 !important;
  }

  ::ng-deep.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0.5em 0 !important;
  }

  ::ng-deep.mat-form-field-wrapper {
    padding-bottom: 0em !important;
  }

  ::ng-deep.mat-dialog-actions {
    padding: 5px 20px;
    margin-bottom: 0px;
    justify-content: flex-end;
  }


}

.DialogHeader {
  font-size: 19px;
  text-align: left;
  //padding: 10px;
  //border-bottom: 1px solid $lightGray;
  //margin-bottom: 10px;
  background-color: $darkGray;
  color: $white;
}

.DialogContent{
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 20px;
  padding: 0;
}

.DialogTitle {
  font-size: 16px;
  color: $black;
  font-weight: 600;
  margin: 10px 0px 0px 0px;
}

.DialogNotElement{
  font-size: 18px;
  color: $black;
  margin: 10px;
}

.DialogGrid2 {
  display: grid;
  grid-template-columns: 20% auto;
}

.DialogGrid3 {
  display: grid;
  grid-template-columns: 3em auto 3em;
}

.DialogIconContainer {
  margin: auto;
}

.DialogButtonX{
  background-color: transparent;
  border: none;
}

// ============= Footer =================================================

.DialogActions {

}

.DialogActionsDelete {
  //width: 90px;
  float: left;
}

.DialogActionsCreate {
  //width: 90px;
  float: right;
  background-color: $darkGray;
  color: $white;
}

::ng-deep.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.mat-expansion-panel-header.mat-expanded {
  height: 30px;
}
