@import '../styles/colors';
@import '../styles/variable';
@import '../styles/override';
@import '../styles/scrollbar';
@import '../styles/comments';

// Middle
@media screen and (max-width: 1200px) {
  // dialog on 60% screen
  ::ng-deep.cdk-overlay-container, .cdk-global-overlay-wrapper {
    width: 60% !important;
  }

  .DialogContainer {
    ::ng-deep.mat-radio-label {
      align-items: start !important;
      font-size: $fontSizeText12;
    }
  }
  .DialogHeader {
    font-size: 16px;
  }
  .DialogContent {
    display: block;
    overflow: auto;
    margin: 0 5px;
    padding: 0 20px 0 5px;
  }
  .DialogTitle {
    font-size: $fontSizeText12;
  }
  .DialogLink {
    font-size: $fontSizeText11;
  }
  .DialogNotElement {
    font-size: $fontSizeText10;
  }
  .DialogMandatory {
    font-size: $fontSizeText10;
  }

  //Table ==============================================================================================================
  .mat-header-cell {
    font-size: $fontSizeText10;
    font-weight: 900;
  }
  .mat-cell, .mat-footer-cell {
    font-size: $fontSizeText10;
  }
}

//Regular
@media screen and (min-width: 1201px) {
  // dialog on 50% screen
  ::ng-deep.cdk-overlay-container, .cdk-global-overlay-wrapper {
    width: 50% !important;
  }
  .DialogContainer {
    ::ng-deep.mat-radio-label {
      align-items: start !important;
      font-size: $fontSizeText13;
    }
  }
  .DialogHeader {
    font-size: $fontSizeTitleHeader17;
  }

  .DialogContent {
    display: grid;
    grid-template-columns: 45% 54%;
    gap: 1%;
    overflow: hidden;
    margin: 0 10px;
    padding: 0;
  }
  .DialogTitle {
    font-size: $fontSizeTitle14;
  }
  .DialogLink {
    font-size: $fontSizeText13;
  }
  .DialogNotElement {
    font-size: $fontSizeText12;
  }
  .DialogMandatory {
    font-size: $fontSizeText12;
  }

  //Table ==============================================================================================================
  .mat-header-cell {
    font-size: $fontSizeText13;
    font-weight: 900;
  }
  .mat-cell, .mat-footer-cell {
    font-size: $fontSizeText13;
  }
}


::ng-deep.mat-dialog-container {
  padding: 0;
  overflow: hidden;
}

.DialogContainer {

  ::ng-deep.mat-dialog-title {
    margin: 0 0 5px;
    padding: 10px;
  }

  ::ng-deep .mat-form-field {
    display: block !important;
  }

  ::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.25em 0 0.5em 0 !important;
  }

  ::ng-deep.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0.5em 0 !important;
  }

  ::ng-deep.mat-form-field-wrapper {
    padding-bottom: 0em !important;
  }

  //footer
  ::ng-deep.mat-dialog-actions {
    padding: 5px 20px;
    margin-bottom: 0px;
    justify-content: flex-end;
  }

  //location
  ::ng-deep.mat-radio-button {
    display: block;
  }

  ::ng-deep.mat-radio-label {
    align-items: start !important;
  }

  .example-radio-button {
    margin: 5px;
  }
}

.DialogHeader {
  text-align: left;
  background-color: $darkGray;
  color: $white;
}

.DialogHeaderX {
  float: right;
  cursor: pointer;
}

.DialogContent {
  .item1 {
    grid-row: 1;
    grid-column: 1;
    padding: 0 5px;
  }

  .item2 {
    grid-row: 1;
    grid-column: 2;
    padding: 0 5px;
  }
}

.DialogTitle {
  color: $black;
  font-weight: 600;
  margin: 10px 0px 0px 0px;
}

.DialogNotElement {
  color: $black;
  margin: 10px 10px 0;
}

.DialogGrid2 {
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 4%;
}

.DialogGrid22 {
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 4px;
}

.DialogGrid3 {
  display: grid;
  grid-template-columns: 3em auto 3em;
}

.DialogIconContainer {
  margin: auto;
}

.DialogButtonX {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.DialogButtonGeoX {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 14px;
  margin: 9px;
  cursor: pointer;
}

.DialogButtonGeoDrop {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 10px;
  margin: 8px;
}

.DialogComments {
  margin-top: 16px;
}


.mat-column-Description {
  max-width: 10em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 5px;
}

// ============= Footer =================================================

.DialogActions {

}

.DialogCenter {
  text-align: center;
}

.DialogActionsSave {
  background-color: $darkGray;
  color: $white;
  border-radius: 3px;
  display: inline-block;
  margin: 2px;
  line-height: 30px;
}

.DialogActionsCancel {
  border-radius: 3px;
  display: inline-block;
  margin: 2px;
  line-height: 30px;
}

.DialogActionsDelete {
  //width: 90px;
  float: left;
}

.DialogActionsCreate {
  //width: 90px;
  float: right;
  background-color: $darkGray;
  color: $white;
}

.DialogMandatory {
  flex: auto;
}

// material design

::ng-deep.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

::ng-deep.mat-expansion-panel-header.mat-expanded {
  height: 30px;
}

::ng-deep.mat-elevation-z8 {
  box-shadow: none !important;
}
