@import '../styles/colors';
@import '../styles/variable';
@import '../styles/override';
@import '../styles/scrollbar';

.DialogContainer {
  margin: 0 10px 0px 10px;
  height: calc(100vh - #{$headerHeight});

  ::ng-deep .mat-form-field {
    display: block !important;
  }

  ::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.25em 0 0.5em 0 !important;
  }

  ::ng-deep.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0.5em 0 !important;
  }

  ::ng-deep.mat-form-field-wrapper {
    padding-bottom: 0em !important;
  }
}

.DialogHeader {
  font-size: 19px;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid $lightGray;
  margin-bottom: 10px;
}

.DialogContent{
  max-height: calc(100vh - #{$headerHeight} - #{$leftPanelNarrowFooterHeight} - #{$leftPanelNarrowHeaderHeight});
  overflow-x: hidden;
}

.DialogTitle {
  font-size: 16px;
  color: $black;
  font-weight: 600;
  margin: 10px 0px 0px 0px;
}
.DialogNotElement{
  font-size: 18px;
  color: $black;
  margin: 10px;
}

.DialogGrid2 {
  display: grid;
  grid-template-columns: 20% auto;
}

.DialogGrid3 {
  display: grid;
  grid-template-columns: 3em auto 3em;
}

.DialogIconContainer {
  margin: auto;
}

.DialogLink{
  float: right;
  border-bottom: 1px solid black;
  margin-left: 15px;
  font-size: 14px;
}

.DialogButtonX{
  background-color: transparent;
  border: none;
}

// ============= Footer =================================================
.FooterButtons {
  position: absolute;
  bottom: 5px;
  z-index: 3;
  width: calc(#{$leftPanelNarrowWidth} - 30px);
  height: $leftPanelNarrowFooterHeight;
}

.FooterButtonDelete {
  //width: 90px;
  float: left;
}

.FooterButtonCreate {
  //width: 90px;
  float: right;
  background-color: $darkGray;
  color: $white;
}
