@import "./colors";

::ng-deep .cdk-global-scrollblock {
  overflow-y: hidden !important;
}

// radioButtons ========================================================================================================

:host::ng-deep .mat-radio-outer-circle {
  border-color: $black !important;
  .mat-radio-checked & {
    border-color: $black !important;
  }
}

:host::ng-deep .mat-radio-inner-circle {
  background-color: $black !important;
}

:host::ng-deep .mat-radio-ripple .mat-ripple-element {
  background-color: $black !important;
}

:host::ng-deep .mat-drawer-inner-container {
  overflow: hidden;
  //-webkit-overflow-scrolling: touch;
}
