@import "./colors";
@import "./variable";

::ng-deep .cdk-global-scrollblock {
  overflow-y: hidden !important;
}

// radioButtons ========================================================================================================

:host::ng-deep .mat-radio-outer-circle {
  border-color: $black !important;
  .mat-radio-checked & {
    border-color: $black !important;
  }
}

:host::ng-deep .mat-radio-inner-circle {
  background-color: $black !important;
}

:host::ng-deep .mat-radio-ripple .mat-ripple-element {
  background-color: $black !important;
}

//mat drawer
:host::ng-deep .mat-drawer-inner-container {
  overflow: hidden;
  //-webkit-overflow-scrolling: touch;
}

//table ================================================================================================================
::ng-deep th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 10px !important;
}
::ng-deep th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 10px !important;
}
::ng-deep th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
  padding: 0px 5px !important;
}

@media screen and (min-width: 1400px) {
  .mat-header-cell {
    font-size: $fontSizeText13;
    font-weight: 900;
  }
  .mat-cell, .mat-footer-cell {
    font-size: $fontSizeText13;
  }
}

@media screen and (max-width: 1399px) {
  .mat-header-cell {
    font-size: $fontSizeText12;
    font-weight: 900;
  }
  .mat-cell, .mat-footer-cell {
    font-size: $fontSizeText12;
  }
}

//
::ng-deep.cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
  text-align: left;
}
//cesium ===============================================================================================================
.map-container{
  display: none;
}
.cesium-viewer-bottom {
  display: none !important;
}

// toastr ==================
.toast-top-left {
  top: 75px !important;
  left: calc(50vw + 5px) !important;
}

.toast-info {
  background-color: $darkGray !important;
}

.toast-warning {
  background-color: $darkGray !important;
  border: 2px solid $lightBlue;
}

// expend accordion =======================================================================
::ng-deep.mat-expansion-panel-spacing {
   margin: 5px 0;
}
::ng-deep.mat-expansion-panel-body {
  padding: 0 0px 10px 10px;
}
// icon button ============================================================================
::ng-deep.mat-icon-button{
  width: 24px;
  height: 24px;
  line-height: 24px;
}
//
::ng-deep.mat-error{
  display: inline-flex;
}

