@import "./colors";
@import "./variable";

::ng-deep .cdk-global-scrollblock {
  overflow-y: hidden !important;
}

// radioButtons ========================================================================================================

:host::ng-deep .mat-radio-outer-circle {
  border-color: $black !important;
  .mat-radio-checked & {
    border-color: $black !important;
  }
}

:host::ng-deep .mat-radio-inner-circle {
  background-color: $black !important;
}

:host::ng-deep .mat-radio-ripple .mat-ripple-element {
  background-color: $black !important;
}

:host::ng-deep .mat-drawer-inner-container {
  overflow: hidden;
  //-webkit-overflow-scrolling: touch;
}

::ng-deep.mat-cell, .mat-footer-cell {
  font-size: $fontSizeText;
}

//table ================================================================================================================
::ng-deep th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 10px !important;
}
::ng-deep th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 10px !important;
}

