@import "variable";
@import "colors";

// Headers, Tabs Left panel
// more then 1441
@media screen and (min-width: 1441px){
  .HeaderPanel{
    font-size: $fontSizeTitleHeader18;

    ::ng-deep.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
      font-size: $fontSizeTitleHeader18;
    }
  }
  .LeftPanel {
    // Tabs
    ::ng-deep .mat-tab-list .mat-tab-label {
      font-size: $fontSizeTitleHeader17;
      font-weight: bold;
    }
    ::ng-deep.mat-tab-label {
      min-width: 160px;
    }
  }
}
@media screen and (max-width: 1400px){
  .HeaderPanel{
    font-size: $fontSizeTitleHeader17;

    ::ng-deep.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
      font-size: $fontSizeTitleHeader17;
    }
  }
  .LeftPanel {
    // Tabs
    ::ng-deep .mat-tab-list .mat-tab-label {
      font-size: $fontSizeTitleHeader16;
      font-weight: bold;
    }
    ::ng-deep.mat-tab-label {
      min-width: 150px;
    }
  }
}
@media screen and (max-width: 1285px){
  .HeaderPanel{
    font-size: $fontSizeTitle14;

    ::ng-deep.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
      font-size: $fontSizeTitle14;
    }
  }
  .LeftPanel {
    // Tabs
    ::ng-deep .mat-tab-list .mat-tab-label {
      font-size: $fontSizeTitle14;
      font-weight: bold;
    }
    ::ng-deep.mat-tab-label {
      min-width: 140px;
    }
  }
}
@media screen and (max-width: 1200px){
  .HeaderPanel{
    font-size: $fontSizeTitle14;

    ::ng-deep.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
      font-size: $fontSizeTitle14;
    }
  }
  .LeftPanel {
    // Tabs
    ::ng-deep .mat-tab-list .mat-tab-label {
      font-size: $fontSizeTitle14;
      font-weight: bold;
    }
    ::ng-deep.mat-tab-label {
      min-width: 120px;
    }
  }
}


// Middle
@media screen and (max-width: 1200px) {
  /* CSS that should be displayed if width is equal to or less than 1200px goes here */
  .HeaderLogo {
    width: 130px;
  }
  .HeaderLeftSide {
    width: $sidePanelWidth60 !important;
  }
  .HeaderRightSide{
    width: $sidePanelWidth40 !important;
  }
  .HPRightSideIcon{
    width: $iconSizeMiddle;
    height: $iconSizeMiddle;
    font-size: $iconSizeMiddle;
    margin: 0px;
  }
  .RightSideSearchButton {
    .buttonX{
      position: fixed;
      color: $black;
      margin: 0px 0 0 70px;
    }
    ::ng-deep.mat-form-field-infix {
      width: 95px;
    }
    // AUTOCOMPLETE ======================================================================================================
    ::ng-deep.mat-optgroup-label {
      font-weight: bold;
      font-size: $fontSizeText12;
      color: $black;
    }

    ::ng-deep .mat-form-field {
      display: block;
      //width: 14em;
    }

    ::ng-deep.mat-form-field-appearance-outline .mat-form-field-wrapper {
      margin: .25em 0;
      background: $white;
      border-radius: 5px;
    }

    ::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 6px 0;
      border-top: 4px transparent solid;
      margin: 0px;
    }

    ::ng-deep.mat-form-field-wrapper {
      padding-bottom: 0em;
    }

    ::ng-deep.cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
      color: $black;
      font-size: $fontSizeTitle14;
      width: 84px;
    }

    ::ng-deep.mat-optgroup.sticky {
      label {
        position: sticky;
        z-index: 1; // appear above mat-option
        top: 0; // fix at the top
        background-color: $white; // don't see mat-option when scrolling
        box-shadow: 1px -2px 10px 0px $gray; // shadow at the bottom
      }
    }

    ::ng-deep.mat-icon-button {
      width: 30px;
      height: 26px;
      line-height: 30px;
    }

    ::ng-deep.mat-option {
      font-size: $fontSizeText12;
    }

    .mat-input-element::-webkit-input-placeholder {
      font-size: $fontSizeText12;
    }
  }
  .LeftNarrowPanel{
    width: $sidePanelWidth35;
    //Tabs
    ::ng-deep .mat-tab-list .mat-tab-label {
      font-size: $fontSizeText13;
      font-weight: bold;
    }
    ::ng-deep.mat-tab-label {
      min-width: 100px;
    }
    ::ng-deep [aria-label='Arrow'] {
      min-width: 50px;
    }
  }
  .MapWide {
    width: $sidePanelWidth65;
  }
  .LeftPanel {
    width: $sidePanelWidth60 !important;
    //Tabs
    ::ng-deep [aria-label='Arrow'] {
      min-width: 50px;
    }
  }
  .LeftSideInputSearch{
    width: 7em;
  }
  .RightPanel {
    width: $rightPanelMiddleWidth;
  }
  // toastr ==================
  .toast-top-left {
    top: calc(#{$headerHeight} + 5px) !important;
    left: calc(#{$sidePanelWidth60} + 5px) !important;
  }
  .toast-container .ngx-toastr{
    width: 180px !important;
    font-size: 10px;
  }


  // ===================================================================================================================
 ::ng-deep.mat-menu-item {
    line-height: 25px !important;
    height: 25px !important;
    padding: 0 10px !important;
    font-size: $fontSizeText12 !important;
  }
}

//Regular
@media screen and (min-width: 1201px){
  /* CSS that should be displayed if width is equal to or less than 1280px goes here */
  .HeaderLogo {
    width: 160px;
  }
  .HeaderLeftSide {
    width: $sidePanelWidth53 !important;
  }
  .HeaderRightSide{
    width: $sidePanelWidth47 !important;
  }
  .HPRightSideIcon {
    width: $iconSize;
    height: $iconSize;
    font-size: $iconFontSize;
    margin: 2px;
  }
  .RightSideSearchButton {
    .buttonX{
      position: fixed;
      color: $black;
      margin: 0px 0 0 90px;
    }
    ::ng-deep.mat-form-field-infix {
      width: 120px;
    }
    // AUTOCOMPLETE ======================================================================================================
    ::ng-deep.mat-optgroup-label {
      font-weight: bold;
      font-size: $fontSizeVideoText16;
      color: $black;
    }

    ::ng-deep .mat-form-field {
      display: block;
      //width: 14em;
    }

    ::ng-deep.mat-form-field-appearance-outline .mat-form-field-wrapper {
      margin: .25em 0;
      background: $white;
      border-radius: 5px;
    }

    ::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 6px 0;
      border-top: 8px transparent solid;
      margin: 0px;
    }

    ::ng-deep.cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
      color: $black;
      width: 105px;
    }

    ::ng-deep.mat-form-field-wrapper {
      padding-bottom: 0em;
    }

    ::ng-deep.mat-optgroup.sticky {
      label {
        position: sticky;
        z-index: 1; // appear above mat-option
        top: 0; // fix at the top
        background-color: $white; // don't see mat-option when scrolling
        box-shadow: 1px -2px 10px 0px $gray; // shadow at the bottom
      }
    }
  }
  .MapWide {
    width: $sidePanelWidth80;
  }
  .LeftNarrowPanel{
    width: $sidePanelWidth20;
    //Tabs
    ::ng-deep .mat-tab-list .mat-tab-label {
      font-size: $fontSizeTitleHeader16;
      font-weight: bold;
    }
    ::ng-deep.mat-tab-label {
      min-width: 140px;
    }
    ::ng-deep [aria-label='Arrow'] {
      min-width: 50px;
    }

  }
  .LeftPanel {
    width: $sidePanelWidth53 !important;
  //  Tabs
    ::ng-deep [aria-label='Arrow'] {
      min-width: 50px;
    }
  }
  .LeftSideInputSearch{
    width: 10em;
  }
  .RightPanel {
    width: $rightPanelWidth;
  }
  // toastr ==================
  .toast-top-left {
    top: #{$headerHeight} + 5px !important;
    left: calc(#{$sidePanelWidth53} + 5px) !important;
  }
  .toast-container .ngx-toastr{
    width: 300px !important;
  }
  // ===================================================================================================================
  ::ng-deep.mat-menu-item {
    line-height: 30px !important;
    height: 30px !important;
    padding: 0 10px !important;
    font-size: $fontSizeTitle15 !important;
  }
}











// todo: .HeaderPanel{
//    font-size: $fontSizeTitle14;
//    ::ng-deep.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
//      font-size: $fontSizeTitle14;
//    }
//        .HeaderLogo {
//  width: 130px;
//    another sizes


//    ::ng-deep.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
//      font-size: $fontSizeTitle14;
//    }
//  }

//@media screen and (min-width: 1200px) and (max-width: 1350px){
//  /* CSS that should be displayed if width is equal to or less than 1280px goes here */
//  .HeaderPanel {
//      font-size: $fontSizeTitleHeader16;
//    }
//
//    ::ng-deep.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
//      font-size: $fontSizeTitleHeader16;
//    }
//}
