@import "variable";
// Middle
@media screen and (max-width: 1200px) {
  /* CSS that should be displayed if width is equal to or less than 1200px goes here */
  .HeaderPanel{
    font-size: $fontSizeTitle14;

    ::ng-deep.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
      font-size: $fontSizeTitle14;
    }
  }
  .HeaderLogo {
    width: 130px;
  }
  .HeaderLeftSide {
    width: $sidePanelWidth60 !important;
  }
  .HeaderRightSide{
    width: $sidePanelWidth40 !important;
  }
  .HPRightSideIcon{
    width: $iconSizeMiddle;
    height: $iconSizeMiddle;
    font-size: $iconSizeMiddle;
    margin: 0px;
  }
  .RightSideSearchButton {
    ::ng-deep.mat-form-field-infix {
      width: 95px;
    }
  }
  .LeftPanel {
    width: $sidePanelWidth60 !important;
  }
  .RightPanel {
    width: $rightPanelMiddleWidth;
  }
 ::ng-deep.mat-menu-item {
    line-height: 25px !important;
    height: 25px !important;
    padding: 0 10px !important;
    font-size: $fontSizeText12 !important;
  }
}
//Regular
@media screen and (min-width: 1201px){
  /* CSS that should be displayed if width is equal to or less than 1280px goes here */
  .HeaderPanel{
    font-size: $fontSizeTitleHeader18;

    ::ng-deep.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
      font-size: $fontSizeTitleHeader18;
    }
  }
  .HeaderLogo {
    width: 160px;
  }
  .HeaderLeftSide {
    width: $sidePanelWidth50 !important;
  }
  .HeaderRightSide{
    width: $sidePanelWidth50 !important;
  }
  .HPRightSideIcon {
    width: $iconSize;
    height: $iconSize;
    font-size: $iconFontSize;
    margin: 2px;
  }
  .RightSideSearchButton {
    ::ng-deep.mat-form-field-infix {
      width: 120px;
    }
  }
  .LeftPanel {
    width: $sidePanelWidth50 !important;
  }
  .RightPanel {
    width: $rightPanelWidth;
  }


  ::ng-deep.mat-menu-item {
    line-height: 30px !important;
    height: 30px !important;
    padding: 0 10px !important;
    font-size: $fontSizeTitle15 !important;
  }
}

// todo: .HeaderPanel{
//    font-size: $fontSizeTitle14;
//    ::ng-deep.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
//      font-size: $fontSizeTitle14;
//    }
//        .HeaderLogo {
//  width: 130px;
//    another sizes


//    ::ng-deep.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
//      font-size: $fontSizeTitle14;
//    }
//  }

//@media screen and (min-width: 1200px) and (max-width: 1350px){
//  /* CSS that should be displayed if width is equal to or less than 1280px goes here */
//  .HeaderPanel {
//      font-size: $fontSizeTitleHeader16;
//    }
//
//    ::ng-deep.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
//      font-size: $fontSizeTitleHeader16;
//    }
//}
