@import "./colors";
@import "./variable";

.HeaderLeftPanel {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height: 50px;

  .LeftSideSearchButton {
    margin: auto 10px;
    text-align: center;
    height: $headerSituationPicture;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid $gray;
    width: 10em;
    padding: 0 10px;

    input{
      border: hidden;
      width: inherit;
      font-size: 14px;
    }
    input:focus, textarea:focus, select:focus{
      outline: none;
    }
  }


}

.HeaderRightPanel {
  position: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  height: 50px;

  .RightSideButton {
    margin: auto 5px;
    text-align: center;
    height: $headerSituationPicture;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $fontSizeTitle;
    border-radius: 8px;
    background-color: gray;
    color: white;
    padding: 0px 10px;
  }
  .RightSideButtonLinked{
    margin: auto 5px;
    text-align: center;
    height: $headerSituationPicture;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $fontSizeTitle;
    padding: 0px 10px;
    border-bottom: 1px solid $black;
    width: 9em;
  }
}
.LinkedTable{
  width: 43.5vw;
}
