@import "./colors";
@import "scrollbar";
@import "variable";

table {
  width: 100%;
}

.table-scroll {
  max-height: calc(100vh - #{$headerHeight} - 120px);
  overflow: auto;
}

.tableCheckbox {
  width: 30px;
}

.mat-column-description {
  max-width: 11em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 5px;
}

//.mat-column-description:hover {
//  overflow: visible;
//}

.selected {
  background-color: $darkGrey !important;

  ::ng-deep.mat-cell, .mat-footer-cell {
    color: $white !important;
  }

  ::ng-deep.mat-checkbox-frame  {
    //border-color: $white;
    background-color: $gray
  }
}

th{
  background-color: $gray;
}

th.mat-sort-header-sorted {
  color: $black;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: $lightGray;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: $lightGray;
}
.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: grid;
  grid-template-columns: 35% auto;
  max-height: 20em;
}
//descriptions
.example-element-detail-tasks {
  overflow: hidden;
  display: grid;
  grid-template-columns: 35% auto auto;
  max-height: 20em;
}

.example-element-description {
  grid-column: 1;
  grid-row: 1;

  .mat-expansion-panel-header.mat-expanded {
    height: 30px;
  }

 ::ng-deep .mat-expansion-panel-body {
    padding: 0 0px 16px 5px;
  }
}
.description-content{
  overflow: auto;
  max-height: 4.5em;
}
// comments
.example-element-comments {
  //grid-column: 1;
  //grid-row: 2;
}
// linked
.example-element-linked {
  //padding: 16px;
  grid-column: 2;
  grid-row: 1;
  margin-left: 5px;
}
// geo instructions
.example-element-geo-instructions{
  grid-column: 2;
  grid-row: 1;
}
//task-assignees
.example-element-assignees{
  grid-column: 3;

}
//resources
.example-element-resources{

}
.example-element-createdBy{

}
.expendContent{
  font-size: 14px;
  color: $black;
  font-weight: 200;
}
.right{
  float: right;
}

.capitalize {
  text-transform: capitalize;
}

.tableImage {
  height:30px;
  width: 30px;
}
.expendTitle {
  font-size: 16px;
  color: $black;
  font-weight: 600;
  //margin: 10px 0px 0px 0px;
}
.mat-expansion-panel:not([class*=mat-elevation-z]) {
 box-shadow: none;
}
.mat-expansion-panel-header {
  padding: 0 10px 0 0;
}
.mat-header-cell {
  font-size: 14px;
  font-weight: 900;
}

