
$headerHeight: 70px;
$leftPanelWidth: calc(100vw - 50%);

$leftPanelNarrowWidth: 400px;
$leftPanelNarrowHeaderHeight: 50px;
$leftPanelNarrowFooterHeight: 50px;

$headerSituationPicture: 30px;

//font-size
$fontSizeTitleHeader: 16px;
$fontSizeTitle: 15px;
$fontSizeText: 14px;

$iconWidth: 30px;
$iconFontSize: 30px;
