
$headerHeight: 70px;
$leftPanelWidth: calc(100vw - 50%);

$rightPanelResourceHeight: 50px;

$leftPanelNarrowWidth: 400px;

$headerSituationPicture: 30px;

$headerVideoHeight: 90px;

//font-size
$fontSizeTitleHeader: 17px;
$fontSizeTitle: 16px;
$fontSizeText: 14px;
$fontSizeVideoText: 16px;

// icons
$iconWidth: 30px;
$iconFontSize: 30px;
