
$headerHeight: 70px;
$sidePanelWidth50: calc(100vw - 50%);
$sidePanelWidth60: calc(100vw - 40%);
$sidePanelWidth65: calc(100vw - 35%);
$sidePanelWidth40: calc(100vw - 60%);
$sidePanelWidth35: calc(100vw - 65%);

$rightPanelResourceHeight: 50px;
$rightPanelMiddleWidth: 112px;
$rightPanelWidth: 285px;

$leftPanelNarrowWidth: 400px;

$headerSituationPicture: 30px;

$headerVideoHeight: 90px;

//font-size
$fontSizeTitleHeader19: 19px;
$fontSizeTitleHeader18: 18px;
$fontSizeTitleHeader17: 17px;
$fontSizeTitleHeader16: 16px;
$fontSizeTitle15: 15px;
$fontSizeTitle14: 14px;
$fontSizeText13: 13px;
$fontSizeText12: 12px;
$fontSizeText11: 11px;
$fontSizeText10: 10px;
$fontSizeText9: 9px;
$fontSizeText8: 8px;
$fontSizeVideoText16: 16px;

// icons

$iconSize: 30px;
$iconSizeMiddle: 24px;
$iconFontSize: 30px;
