<mat-accordion
  #geoInstructionList="cdkDropList"
  (cdkDropListDropped)="drop($event)"
  [cdkDropListData]="geographicInstructionsModel"
  [cdkDropListDisabled] = 'true'
  cdkDropList
>
  <mat-expansion-panel (click)="flyToInstruction(geoInstruction)"
                       *ngFor="let geoInstruction of geographicInstructionsModel; let i = index"
                       [expanded]="false"
                       [togglePosition]="'after'"

                       cdkDrag>
    <mat-expansion-panel-header [ngStyle]="{'cursor': 'grabbing'}">
      <div class="expendTitle">
        <mat-icon mat-list-icon>{{getIcon(geoInstruction)}}</mat-icon>
        <span mat-line class="expendTitleText">{{geoInstruction?.type}}</span>
      </div>
      <button class='DialogButtonGeoX'
              (click)="removeGeoInstruction($event, i)"
              *ngIf="isNotViewOnly"
        >X</button>
    </mat-expansion-panel-header>
    <div class="">
      <div class="">
        {{geoInstruction?.description}}
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<div *ngIf="geographicInstructionsModel.length <= 0" class="DialogNotElement">
  No geographic instructions
</div>
